[2015-01-20 04:59] mollieru opened #1 "(5) /story: remove second ' crossroads'"
![image](https://cloud.githubusercontent.com/assets/3680494/5812372/221008ee-a037-11e4-8598-2cfd4f19b299.jpg)

[2015-01-20 05:02] mollieru opened #2 "(1) add more space between rectangle images"
![image](https://cloud.githubusercontent.com/assets/3680494/5812381/750688f2-a037-11e4-8be0-a18db1915653.jpg)

[2015-01-20 05:05] mollieru opened #5 "(3) send open graph image to ODS for Facebook sharing"

[2015-01-20 05:08] mollieru opened #7 "(5) fix 'hear about Mikey's first day' URL"

[2015-01-20 05:08] mollieru opened #8 "(1) add hover effects to all images (nice to have)"

[2015-01-20 05:10] mollieru opened #9 "(2) add another row of featured blog content"
1. Kathy in FLOTUS box
2. more recent news?
3. 18f blog post?
4. the old digital IT blog post from auguts?

[2015-01-20 05:15] mollieru opened #12 "(2) can we add the email sign up + twitter buttons onto the application page?"

[2015-01-20 18:36] mollieru opened #16 "(4) Mina typo: "Mina has let led projects at Optum, General Catalyst Partners, and Deka R&D corp.""

[2015-01-20 19:20] mollieru opened #17 "(5) update VA DS links -- when they provide new URL"

[2015-01-20 19:20] #1 closed

[2015-01-20 20:27] mollieru opened #18 "(2) try changing out the description fonts"

[2015-01-20 20:47] nickbristow opened #19 "508 Issues - Home, Story"
Just checking out the site, and noticed a couple of minor 508 issues you might want to address.
Let me know if you have any question or would like to chat. I can also do a formal audit if you think that would be beneficial to you all.

1. Skip Nav
  * Your skip nav is good, but to make it more compatible with different browsers add tabindex='-1' to the target anchor. This will give it "true" focus

[2015-01-20 21:13] gbinal opened #20 "add link to site in repo description"
When it's available, it'll be great to add the project website url to the description field for this repo.  Not urgent, just helpful.

![screen shot 2015-01-20 at 4 12 07 pm](https://cloud.githubusercontent.com/assets/633088/5826240/3663df04-a0bf-11e4-9244-e95d5c6242ee.png)

[2015-01-20 21:57] danachis opened #21 "lowercase "veterans' benefits" in 'Teams of problem solvers' before the mash should be "Veterans' ""

[2015-01-20 21:59] danachis opened #22 "take out "the" in "From a simple and easy-to-navigate VA website to improved the benefits claims experience""
From a simple and easy-to-navigate VA website to improved *the* benefits claims experience

[2015-01-20 22:30] danachis opened #23 "Change "Captain" to "captain" in Kathy's hover text"

[2015-01-20 22:34] danachis opened #24 "In Rachel's copy, add "the" in "Presidential Innovation Fellow at VA" for"

[2015-01-20 22:42] #18 closed

[2015-01-20 22:43] danachis opened #25 "In Rachel's hover text, take out "to be able""

[2015-01-20 22:44] danachis opened #26 "In Alan's hover, take out "to be able""

[2015-01-20 22:44] #21 closed

[2015-01-20 22:53] #26 closed

[2015-01-20 22:53] #25 closed

[2015-01-20 22:53] #24 closed

[2015-01-20 22:56] mollieru commented on #19
@nickbristow this is awesome thank you!  Quick (and annoying, sorry) favor: could you pull out another issue with all of the feedback about the /apply page? That's being built in Salesforce and different folks have the ability to make changes there.  CC @kathytpham

[2015-01-20 23:06] #23 closed

[2015-01-20 23:06] #16 closed

[2015-01-20 23:09] #22 closed

[2015-01-20 23:13] #20 closed

[2015-01-20 23:13] #17 closed

[2015-01-20 23:13] #7 closed

[2015-01-21 01:30] willchan opened #27 "<title>US Digital Service Recruitment - Home | The White House</title>"
I kinda think our homepage shouldn't be titled about recruitment, even if we do a lot of recruiting on it. Just my two cents.

[2015-01-21 14:56] nickbristow opened #28 "508 Issues - Apply Page"
1. For 508, the goal is 4.5:1, this can be verified with any OTS color contrast analyzer. I only noticed a couple spots (not counting the header and footer, from the parent site) where it missed
  *  ![us_digital_service_-_apply___the_white_house](https://cloud.githubusercontent.com/assets/5296248/5825439/44338c20-a0b9-11e4-87f3-4ed7d17f2933.png)
  *  ![us_digital_service_-_apply___the_white_house

[2015-01-21 14:57] nickbristow commented on #19
Done

[2015-01-21 21:16] jtag opened #29 "add USDS to the Digital section of WH chunky footer"
![screen shot 2015-01-21 at 4 14 50 pm](https://cloud.githubusercontent.com/assets/339243/5845297/e8cbe604-a188-11e4-8075-575270b4e144.png)

[2015-01-21 21:17] mollieru commented on #27
Good feedback! Will modify.

[2015-01-21 21:18] #12 closed

[2015-01-21 21:18] jtag opened #30 "Ensure new USDS pages include "cards" for Facebook and Twitter. Currently FB features a card that says "404 Page Not Found""
Sample view when posting links on FB...

![screen shot 2015-01-21 at 4 00 55 pm](https://cloud.githubusercontent.com/assets/339243/5845328/167f0f68-a189-11e4-8d76-638e54d4fadc.png)

[2015-01-22 06:29] afeld opened #31 "nav bar should link to @USDS on Twitter"
Currently goes to @whitehouse.

![screen_shot_2015-01-22_at_1_28_08_am](https://cloud.githubusercontent.com/assets/86842/5851492/18fa9ee0-a1d6-11e4-9e7a-1ec5e892b240.png)

[2015-01-22 18:24] konklone opened #32 "Missing HTTPS"
I know it's not within the USDS team's direct control - but the USDS website doesn't currently offer a secure connection. Any ISP, foreign government, or cafe could freely intercept or modify the website.

Specifically, a certificate at [`www.whitehouse.gov`](https://www.whitehouse.gov) is valid only for Akamai, and a certificate at [`whitehouse.gov`](https://whitehouse.gov) is only valid for `*.w

[2015-01-22 20:05] noahmanger opened #33 "Tweak typography at smaller viewports"
The typography could be optimized for mobile viewports (excuse the huge screenshots).

A few places caught my eye:

These `<h3>`'s could be smaller / reduced to fewer lines:
![img_1686](https://cloud.githubusercontent.com/assets/1696495/5863456/afc476cc-a247-11e4-9290-6e468d960623.PNG)

The line height on these headers should/could be reduced:
![img_1687](https://cloud.githubusercontent.com/assets

[2015-01-22 20:32] NoahKunin commented on #32
:+1: x :100:

[2015-01-22 20:33] NoahKunin commented on #28
:+1:

508 applies to everything, obviously, but this is especially meaningful on forms, and even more meaningful on recruiting a diverse team. Thanks @nickbristow!

[2015-01-22 21:01] NoahKunin opened #34 "Story Circles re-design?"
First off, let me again thank @mollieru for pulling this together. Truly awesome given all the constraints.

My current feedback is that on `.../story`, the featured practice circles kind of get lost in a mix. It doesn't really scan for me with the vertical text under each circle.  Perhaps alternating image pulls and horizontal text?

A more thorough re-work will take time obviously, and I don't h

[2015-01-22 21:55] mollieru commented on #34
Totally happy to revisit this. @NoahKunin can you explain and/or sketch what you mean by 'alternating image pulls'?

[2015-01-22 21:56] mollieru commented on #33
Yes! Thanks for catching this. it was on our nice-to-have list to fix for launch, and want to get back to it now. Good stuff.

[2015-01-22 22:13] mollieru commented on #32
@kathytpham can explain further, but I know the application is on HTTPS (iframed in). @willchan and others are working on a longer term, less janky solution. we all agree this is sub-ideal.

[2015-01-23 00:10] konklone commented on #32
That's great to hear. (FWIW, right now the source code on http://www.whitehouse.gov/digital/united-states-digital-service has two `<iframe>` tags, both of which point to `http://` URLs.)

[2015-01-23 00:47] willchan commented on #32
The https iframe (obviously trivially bypassed by active network attackers)
is on the "apply" page, or at least it was last I checked. But yes, we need
whitehouse.gov to move to https. More discussion later :)

On Thu, Jan 22, 2015, 7:10 PM Eric Mill <notifications@github.com> wrote:

[2015-01-23 03:12] kathytpham commented on #32
Hi friends!

Thank you for looking at this so thoughtfully. We've had extensive
discussions as well. It was my decision along with the folks in ODS at the
White House and the Salesforce team to go with the iFrame route. Our
current options are below:

1) Host HTTPS iFrame inside HTTP site. The iframe points to:
https://whitehouse.secure.force.com/digitalserviceform
2) Redirect to the HTTPS non-Whi

[2015-01-23 03:38] konklone commented on #32
:+1: :smiley_cat:

[2015-01-23 15:34] mollieru commented on #28
@kathytpham can you work with the Salesforce team to apply the above 508 fixes to the application?

Curious why they didn't just apply the same styles from the PIF form, which I assume was also fixed for 508. Also, in general, would be nice if they knew to anticipate 508 from the start...

[2015-01-23 15:48] mollieru opened #35 "Add link to /us-digital-service from the /apply page"
@kathytpham let's figure this out together

[2015-01-23 15:58] NoahKunin commented on #32
Leigh is part of the family, that's great. What the team may not know is
18F has made "TLS provisioning" much easier, *almost* painless.

@konklone in the next 2 weeks, might be good for us to demo for them?

On Thursday, January 22, 2015, Eric Mill <notifications@github.com> wrote:

--
Noah Kunin
Delivery Architecture + Infrastructure Services Director
202-577-7167 | @18F <https://twitter.com/18F

[2015-01-23 16:14] mollieru commented on #33
@noahmanger if I send you the .html file, would you want to take a crack at helping me make this better?

[2015-01-23 18:09] kathytpham commented on #28
Thank you for flagging these!

Do you know if the PIF application has similar issues? It is the same company that built both so it would help to know if I can ask them to talk to each other.

@nickbristow, Can I connect you and your expertise to the Salesforce folks in EOP?

[2015-01-23 18:23] kathytpham commented on #32
Love! Thanks for working on that so it is easier for the rest of us.

On Friday, January 23, 2015, Noah Kunin <notifications@github.com> wrote:

--
912-220-6423
kathytpham@gmail.com

[2015-01-23 18:28] nickbristow commented on #28
I will check, I haven't had a chance to review it.

-Nick Bristow

[2015-01-23 19:07] konklone commented on #32
:+1: Whatever people want to do. =)

[2015-01-24 01:09] kathytpham commented on #35
Ok! Is this for the submit button? If you send me the link, I'll get it to
redirect.

On Fri, Jan 23, 2015 at 10:48 AM, mollieru <notifications@github.com> wrote:

--
912-220-6423
kathytpham@gmail.com

[2015-01-25 16:27] kathytpham commented on #28
Nick, what's the preferred email I should use for you when I connect with
the Salesforce team? Is it OK to cc you?

On Fri, Jan 23, 2015 at 1:28 PM, Nick Bristow <notifications@github.com>
wrote:

--
912-220-6423
kathytpham@gmail.com

[2015-01-26 17:34] noahmanger commented on #33
Sure thing, though it's more of a CSS issue I think. But yeah, send me whatever you have.

[2015-01-26 17:45] cew821 commented on #33
I am also happy to help with this, I agree it should be done in CSS. I can wrangle the CMS pretty easily if we had a better idea of what we're angling towards. I guess just reducing the right margin, and bumping down the font sizes a bit? What else?

[2015-01-26 17:52] noahmanger commented on #33
Looks like the issue on the people divs is that the width is fixed at 221px. Not sure what the breakpoints are, but I'd do something like setting the `.usds-person { width: 50%; }` for tablets and `.usds-person { width: 100%;}` for phones.

Looking at the photos / quotes, though that leaves them a little awkward. I'd refactor the markup a bit so that you're not absolutely positioning the photos, t

[2015-01-26 17:53] noahmanger commented on #33
Sorry if that's a little tough to follow. Again, happy to get into the code directly too.

[2015-01-26 19:33] cew821 commented on #33
That's helpful, thank you. I will try to do a few of these today... the Circles will be the most significant one I think. I promise we actually do know how to do frontend development here... this CMS tho... :open_mouth:

[2015-01-26 19:39] mollieru opened #36 "Fix linkedin hint on application page"
Edit from Twitter:

Hint text for linkedin profiles is wrong. it should say "https://www.linkedin.com/in/username " http://www.whitehouse.gov/digital/united-states-digital-service/apply …

[2015-01-28 17:22] philipashlock opened #37 "Bad link on http://www.whitehouse.gov/digital/united-states-digital-service/story"
FYI, link pointing to the wrong URL

![screen shot 2015-01-28 at 12 20 11 pm](https://cloud.githubusercontent.com/assets/183402/5942842/595e58e8-a6e8-11e4-8799-d94d7f3367c8.png)

[2015-01-29 01:10] skavanagh opened #38 "[Apply] Add maxlength="500" to the "Anything else we should know?" text area"
Add maxlength="500" to the "Anything else we should know?" text area.
http://www.whitehouse.gov/digital/united-states-digital-service/apply
so you know when you have gone over the length without having to submit the form or count characters.

[2015-02-03 05:10] atbaker opened #39 "Typo in 'Stories and Press' section"
Hi USDS team,

Congrats on being on [Hacker News today](https://news.ycombinator.com/item?id=8988819)! The site looks really slick!

I spotted a typo while poking around and thought I'd let you know: http://www.whitehouse.gov/digital/united-states-digital-service/story

"Uncle **Same** Needs More Geeks"

I hope this is the right place to log the issue. Thanks for all that you do!

[2015-02-03 20:27] cew821 commented on #39
Thanks for flagging this! Fixed.

[2015-02-03 20:27] #39 closed

[2015-02-11 21:32] kathytpham commented on #19
Thanks @nickbristow <https://github.com/nickbristow>! Can you please
clarify "Use fieldset and legend for groups of form inputs"? The Salesforce
team is making updates and I couldn't clarify that point for them.

Thanks!

On Tue, Jan 20, 2015 at 2:56 PM, mollieru <notifications@github.com> wrote:

--
912-220-6423
kathytpham@gmail.com

[2015-02-12 17:59] mollieru commented on #37
fixed

[2015-02-12 17:59] #37 closed

[2015-02-12 17:59] mollieru commented on #30
@jtag i believe we've fixed this -- would you mind checking to confirm?

[2015-02-12 17:59] mollieru commented on #34
@NoahKunin wanted to get your thoughts on this -- have any sketches or ideas for me to play w?

[2015-02-12 23:06] nickbristow commented on #19
@kathytpham

Sure thing. Fieldset and legend is used to group related field forms and provide their instructions.

For example,
[code]
All these fields are related grouped in a ```<fieldset>``` tag. This group also has a ```<legend>``` tag. The legend provides additional information, needed to fill out those fields. Without it, a screen reader user would just hear, "Street Address" and not "Prior

[2015-02-14 00:51] jtag commented on #30
looks great on Facebook!

[2015-02-22 00:16] gdbelvin commented on #32
Just a ping to say this is important work!  Still 2 weeks out?

[2015-02-22 16:04] NoahKunin commented on #32
Hi @gdbelvin! Thanks for the ping.

_Completely_ concur that this important work. There's lots of activity right now around HTTPS Everywhere in the Federal Government, both public and non-public. It's just that within the US Gov, there's never anything unimportant, so we're always triaging between "pretty important" and :fire: :fire_engine: :fireworks: stuff.

I think you'll see additional progres

[2015-02-26 22:19] anthonygarvan opened #40 "It is totally unclear what "Join Us" means"
Hey guys - I'm excited about the usds and would like to contribute somehow in my spare time (about 10 hrs / week). I just "Joined" on the website, and afterwards realized I actually had no idea what I had just done. Was it an application for a full time role? Application for a fellowship? Email / newsletter on steroids? Indentured servitude? I understand you are trying to make a simple, clean site

[2015-03-11 15:58] lheyman commented on #32
Folks ok if I close this one? HTTPS went out last night (HSTS in a few days):
https://twitter.com/WHWeb/status/575509388133335041

[2015-03-11 15:58] #32 closed

[2015-03-11 19:26] konklone commented on #32
:+1: Totally awesome, @lheyman, and a strong symbol to the rest of the government. Congrats on getting this shipped!

[2015-03-11 19:31] alex commented on #32
:sparkles: :cake: :sparkles: Awesome work.

On Wed, Mar 11, 2015 at 3:26 PM, Eric Mill <notifications@github.com> wrote:

--
"I disapprove of what you say, but I will defend to the death your right to
say it." -- Evelyn Beatrice Hall (summarizing Voltaire)
"The people's good is the highest law." -- Cicero
GPG Key fingerprint: 125F 5C67 DFE9 4084

[2015-03-24 18:52] waldoj opened #41 "A "Join Us" link is broken"
The blue "Join Us" button in the section titled "Teams of problem solvers making government services simple, effective, and efficient" is missing the `www.` prefix, which causes the link to redirect to the whitehouse.gov home page.

![join_us](https://cloud.githubusercontent.com/assets/656758/6810023/9bbeca2a-d234-11e4-8702-4f0ce19e5584.jpg)

The fix is to change:

[code]

to:

[code]

[2015-03-24 22:29] rustypickens commented on #41
Hi there, Waldo!  Good catch.  The link is updated and I really appreciate you bringing it to our attention.

Rusty D. Pickens
Deputy Director, New Media Technologies
MCSE, CCNA, & PMP
Executive Office of the President

“Always bear in mind that your own resolution to succeed is more important than any other one thing.”  -Abraham Lincoln

www.Whitehouse.gov<http://www.Whitehouse.gov>
Engage the Wh

[2015-03-24 22:48] waldoj commented on #41
:+1:

[2015-03-24 22:48] #41 closed

[2015-08-11 19:51] mollieru commented on #40
thank you! this is resolved in a new update to the site.

[2015-08-11 19:51] #40 closed

[2015-08-11 19:52] mollieru commented on #34
these no longer exist. we're going to address this issue in next version of the site. thanks!

[2015-08-11 19:52] #34 closed

[2015-08-11 19:53] #30 closed

[2015-08-11 19:54] mollieru commented on #19
@chasekimbrell @kathytpham @nickbristow did this get resolved for the application page?

[2015-08-11 19:54] mollieru commented on #27
Fixed!

[2015-08-11 19:54] #27 closed

[2015-08-11 19:54] mollieru commented on #28
Same Q -- is this resolved?

[2015-08-11 19:55] mollieru commented on #31
Unfortunately I'm not sure we have the ability to change this. Will work on finding out from the WH team.

[2015-08-11 19:56] mollieru commented on #33
Anyone want to take a peak and see how things are looking nowadays?

[2015-08-11 19:56] mollieru commented on #38
Tip for @chasekimbrell for the application page

[2015-08-11 19:56] mollieru commented on #8
fixed!

[2015-08-11 19:56] #8 closed

[2015-08-11 19:56] mollieru commented on #5
done.

[2015-08-11 19:56] #5 closed

[2015-08-11 19:57] #29 closed

[2015-08-11 19:57] #36 closed

[2015-08-11 20:02] kimballce commented on #28
This was resolved back in Jan.

[2015-08-11 20:02] #28 closed

[2015-08-11 20:02] mollieru commented on #28
great, thanks!

[2015-08-12 03:00] jennifer6 commented on #28
Cool. Please close.

Sent with Good (www.good.com)

-----Original Message-----
From: Chase Kimball [notifications@github.com<mailto:notifications@github.com>]
Sent: Tuesday, August 11, 2015 04:02 PM Eastern Standard Time
To: WhiteHouse/usds-website
Subject: Re: [usds-website] 508 Issues - Apply Page (#28)

This was resolved back in Jan.

—
Reply to this email directly or view it on GitHub<%3Ehttps

[2015-09-01 21:12] dannychapman opened #42 "Update Vets.gov screenshot."
![work-imgs-veteras-new](https://cloud.githubusercontent.com/assets/281709/9616513/8d617ef2-50cc-11e5-9666-b9e95dd30ce3.png)

[2015-12-14 17:05] mollieru commented on #42
@dannychapman or @emilyville could I get an update of an image you'd like us to use from the live site?

[2015-12-14 17:06] #35 closed

[2015-12-31 14:15] dannychapman commented on #42
![vets-screenshot](https://cloud.githubusercontent.com/assets/281709/12065083/13ee5b26-af9f-11e5-9081-988eb04cf057.png)

@mollieru Here you go!

[2016-02-20 02:00] neilmartis opened #43 "Problem with the current website"
Hello Everyone

I really don't know if the current website is under going maintainence as currently there is an issue with site online which does not look.I have Tweeted to Vivian and USDS on twitter awaiting their response.I am attaching the screenshot of the same.If somebody can look into the issue
![usds](https://cloud.githubusercontent.com/assets/10228512/13193733/c5b7378c-d74b-11e5-9cb9-112a8

[2016-02-20 02:12] alex commented on #43
I'm able to reproduce and reaching out to other members of USDS to fix.

[2016-02-20 02:18] neilmartis commented on #43
Hi Alex check the current url which is live

[2016-02-20 02:20] neilmartis commented on #43
It has something to do with CSS I feel

[2016-02-20 02:21] neilmartis commented on #43
If you need help do let me know

[2016-02-20 02:22] neilmartis commented on #43
The whitehouse.gov website seems to work fine and a problem at USDS end

[2016-02-20 12:32] alex commented on #43
Incident resolved.

[2016-02-20 12:32] #43 closed

[2016-02-21 23:13] neilmartis commented on #43
Hi Alex do you have a copy of the files?

[2016-02-21 23:13] neilmartis commented on #43
I want to run it locally

[2016-02-21 23:16] neilmartis commented on #31
I can update the link did thru chrome and firebug do let me know if I can do that for you

[2016-02-21 23:17] neilmartis commented on #31
![usds1](https://cloud.githubusercontent.com/assets/10228512/13206221/695120b6-d8c7-11e5-91b5-90f02e7be0dc.png)

[2016-02-21 23:25] neilmartis commented on #31
I don't have access to the files to change them,is it possible to provide me with access

[2016-02-22 00:15] neilmartis opened #44 "USDS Website Access"
Hello Team
Is it possible to have access to USDS website as its not there.You guys can trust me on that.Its not available via github.Let me know what details do you require will send it across if you require any clearance
Thanks,
Neil

[2016-02-22 11:46] mollieru commented on #31
Neil, the USDS website is currently just a page on the whitehouse.gov Drupal site; thus we follow their conventions wrt to site UX patterns such as nav bat styling etc. (Relatedly, this is why our pages are not currently available on Github).

We are working on a redesign, so stay tuned in the coming months!

Thanks for your feedback and engagement.

Mollie Ruskin
U.S. Digital Service

-----Origin

[2016-02-22 15:44] neilmartis commented on #31
I would be glad to help with the design.Do let me know I can ping you via Twitter or something.I want to contribute to it.

[2016-02-22 15:45] neilmartis commented on #31
Thanks Mollie

[2016-03-10 02:17] anselmbradford opened #45 "Minor layout issue in presidential greetings request. Is this the right repo?"
Does USDS control `whitehouse.gov/contact/presidential-greetings-request`?

`.textcaptcha-challenge-description` needs `background-position: left` set for Challenge Question star:

![screen shot 2016-03-09 at 9 14 11 pm](https://cloud.githubusercontent.com/assets/704760/13657294/1f7993a6-e63c-11e5-9ac2-77ba2a832c78.png)

(Aside: captcha text reads kind of strange in some cases.)

[2016-03-10 02:19] alex commented on #45
USDS is not involved in running that page, I'm not sure where the right place to file that issue would be unfortunately.

[2016-03-10 02:19] #45 closed

[2016-03-10 02:24] anselmbradford commented on #45
https://github.com/WhiteHouse/fortyfour perhaps? Petitions also has the same class, but not the bg image https://github.com/WhiteHouse/petitions/blob/1a4ccb0307c5281e03fdd2828d379b4087498666/modules/custom/wh_core/wh_core.css#L310

[2016-03-10 02:35] anselmbradford commented on #45
Moved to https://github.com/WhiteHouse/fortyfour/issues/22 ... looks to be in the styles for the Drupal textcaptcha module. Thanks for the quick input @alex !

[2016-03-23 18:31] alexose commented on #2
Now that I've used it a little more, my views on Federalist are... evolving.

It seems pretty clear that using it will cause long-term headaches. Federalist needs more polish before I feel comfortable having us commit to it.

[2016-03-31 12:54] neilmartis opened #46 "Youtube Iframe Issue"
Hello Molly,Andrew
There is a problem with Iframe and Icons for the youtube video on the USDS website as it taking up a lot of space and making it scrollable.I have attached the screenshot of the issue
Thanks,
Neil
![usds3](https://cloud.githubusercontent.com/assets/10228512/14176259/1b1d3dc4-f71e-11e5-9ea6-c3a92c60fd61.png)

[2016-05-13 21:05] davidrkaufman commented on #41
@ErieMeyer - Thanks for the feedback. Can you clarify what you mean re: "financial assistance"? The only employee metric we are okay to share is the 50% women stat.

Design Edits @nguyenist --
- Hoodie swap is good
- SBA we can add, but we haven't discussed IRS publicly yet
- Let's change the pie chart to just be a 50/50 split and the copy will read "50% women, 50% men"

[2016-05-24 14:31] llimllib opened #47 "anchor links don't work"
If I enter https://www.usds.gov/join#dress-code in the URL bar I should see to the "dress code" section; instead I see the "join us" form and have to click on "dress code".

[2016-05-24 14:41] benkutil opened #48 "Homepage carousel exhibits issues with click areas"
In trying to navigate forward in the homepage “people” carousel, I had a hard time using the click arrows to move forward and back.

![usds-gov-carousel](https://cloud.githubusercontent.com/assets/228373/15508002/cdefb0b0-219b-11e6-9b3f-53dfa54662e0.gif)

Mac 10.11.55
Safari 9.1.1

[Full Browser Details (PDF)](https://github.com/usds/website/files/279736/browser-details.pdf)

[2016-05-24 14:46] #46 closed

[2016-05-24 14:46] #44 closed

[2016-05-24 14:47] #42 closed

[2016-05-24 14:47] #31 closed

[2016-05-24 14:47] #2 closed

[2016-05-24 14:47] #9 closed

[2016-05-24 14:47] #19 closed

[2016-05-24 14:48] #33 closed

[2016-05-24 14:48] #38 closed

[2016-05-24 15:00] thecristen opened #49 "Nav centerpiece click area issue"
The `#logo-desktop-full` link in `li.nav-centerpiece`, while at `opacity: 0`, still creates an awkwardly large click area that interferes with filling out form fields.

![image](https://cloud.githubusercontent.com/assets/2136286/15508616/2efdaa90-219e-11e6-927d-cc2f0f231461.png)

Chrome on Mac OS X.

[2016-05-24 17:10] neilmartis commented on #48
@mollieru @benkutil I have checked it on chrome it works fine.However its giving an issue on firefox as its unscrollable

[2016-05-25 18:24] cew821 commented on #49
Thanks so much for reporting this; working on fix now.

[2016-05-25 18:26] cew821 commented on #47
Thank you for reporting this!

[2016-06-08 19:32] mebates opened #122 "Copy edit request from SBA"
Hey team - Aditi Dussault, a senior advisor at SBA and certify.sba.gov guru, has asked for a copy change on the USDS site where it describes the SBA project. The blurb says:

"For small business owners, navigating the contractor certification process is burdensome, involving hours of paperwork and manually scanning dozens of documents. We assisted the Small Business Administration (SBA) in establi

[2016-06-08 22:26] mollieru opened #123 "Change language in repo description"
I think we need a @liyanchang for this:

Can you update the wording in

Currently, we are directing members of the public to leave feedback for USDS.gov here: https://github.com/usds/website/issues

However, the report description (which lives here https://github.com/usds/website) says the following, which is now out of date:

Instead it should say:

Similar issue over on the Playbook, where the d

[2016-06-08 22:29] mollieru commented on #48
cc @davidrkaufman

[2016-06-09 14:08] davidrkaufman commented on #48
Thanks Mollie! @chrisfrommann @cew821 -- is this something you guys can take a look at debugging? thank you

[2016-06-09 14:28] cew821 commented on #122
Assuming @davidrkaufman is OK with language, the fix in #124 is ready to merge.

[2016-06-09 14:30] davidrkaufman commented on #122
Yes, good to go. Thank you Charles!

[2016-06-09 18:23] liyanchang commented on #123
![screen shot 2016-06-09 at 2 21 58 pm](https://cloud.githubusercontent.com/assets/328073/15941357/bd4fd69a-2e4d-11e6-90b8-3fde9c581969.png)

Fixed.

[2016-06-09 18:25] liyanchang commented on #123
![screen shot 2016-06-09 at 2 24 46 pm](https://cloud.githubusercontent.com/assets/328073/15941398/eedf521c-2e4d-11e6-92c5-f584fb1fbf2d.png)

[2016-06-09 18:25] #123 closed, assigned to liyanchang

[2016-06-09 22:40] megehopkins opened #125 "Add checkbox to application "Willing to relocate?""
Would it be possible to add a checkbox to the application "Willing to relocation?" ynm

[2016-06-10 13:57] cew821 commented on #125
I think this is something @briandroberts would have to implement on the Salesforce side, since that is where the application is hosted.

[2016-06-10 19:28] cew821 opened #126 "Publish an open source version of this repository"
This issue replaces #80

Here's my rough proposal for the migration plan to an open repository.
- [x] review repository to ensure code and issues are OK to publish
- [x] migrate issues from `/website` repo to this repo
- [x] write a better Readme with information relevant to members of the public
- [x] add a license
- [x] make the new repository public
- [x] update the footer link to point to the

[2016-06-16 15:20] #122 closed, assigned to chrisfrommann

[2016-06-20 04:37] chrisfrommann commented on #126
:+1:

[2016-06-20 04:48] nacin commented on #126
👍 . I'd definitely prefer to see this entire repository become public with minimal changes to its code, history, and issues. And if there's anything super problematic in the commit history, we could always force-push over it.

[2016-06-22 21:07] cew821 commented on #49
This fix was deployed a few days ago. Thanks again to @thecristen for reporting

[2016-06-22 21:07] #49 closed

[2016-06-23 18:47] cew821 opened #50 "Test filing a bug"
To demonstrate when.

[2016-06-28 19:03] jfredrickson5 opened #51 "JS/css selector mismatch"
Super important patch:

/js/script.js line 125

`    $('#everything-is-awesome').on( "click", function() {`

should be

`    $('.everything-is-awesome').on( "click", function() {`

i.e., use class selector instead of id selector.

[2016-07-05 23:46] chrisfrommann commented on #51
Ha, thanks @jfredrickson5! There used to only be one (hence the id reference).

[2016-07-05 23:46] #51 closed

[2016-07-08 03:10] cew821 commented on #125
@briandroberts is this possible? or is it hard to implement?

[2016-07-20 16:51] frankydp opened #52 "Vet Preference Link iframe"
The Veterans preference information link on the https://www.usds.gov/join#application page attempts to iframe the below link from OPM, which fails for SAMEORIGIN.  The resulting page also ends up in a state were the Apply Now(#application) anchor does not display the form.

https://www.opm.gov/policy-data-oversight/veterans-employment-initiative/vet-guide/#2Types

[2016-07-20 17:09] #50 closed

[2016-07-20 17:09] cew821 commented on #52
Thank you very much for reporting. We will investigate.

cc @chrisfrommann

[2016-07-21 17:42] mollieru commented on #126
Hi! @chrisfrommann @cew821 @davidrkaufman how's this coming?

[2016-07-21 17:46] mollieru opened #53 "Typography style tweaks"
Hi! Suggested some styling changes during the release. Giving a lil bump here in hopes they might get fixed sooooon.

1. 'Join us' styling, reported in issue https://github.com/usds/website-redesign/issues/71 fixed in PR https://github.com/usds/website-redesign/pull/96
2. A series of styling tweaks in response to issues https://github.com/usds/website-redesign/pull/87

[2016-07-21 19:36] davidrkaufman commented on #53
I'm good with these. @cew821 can you please take alook when you have a moment?

Thanks @mollieru

[2016-07-21 19:37] davidrkaufman commented on #126
@mollieru We should be good here!

@cew821 Are you ready to push this live

[2016-07-21 21:18] jamesharnett opened #54 "Content Hierarchy for Accessibility"
There is an issue in the order in which keyboard users interact with content, in the **Our work** section of `usds.gov`. As you can see from the "Current" image, the content order makes sense up until it jumps to _Digital Immigration_. This may not seem like a big deal, but for users who depend on using a keyboard and text to speech technology to read to them what is on the page, they may never ha

[2016-07-28 18:40] jjoteal opened #140 "Phase 2: Draft Designs for Header & Footer"
Hi @davidrkaufman,

Here are some draft designs for your review for the next phase of the site:

**New header with About subnav:**
![image](https://cloud.githubusercontent.com/assets/12192706/17224923/8e18e6c2-54c8-11e6-9942-c896bf453c69.png)

**Footer Option 1:**
![image](https://cloud.githubusercontent.com/assets/12192706/17224949/a9c12916-54c8-11e6-8e9a-30fe095f9f04.png)

**Footer Option 2:**
!

[2016-07-28 18:57] davidrkaufman commented on #140
@jjoteal - Thanks Jess!
- Let's go with Footer Option 1. In previous conversations, it was preferred that we use the seal vs. the WH lockup.
- For the sub nav, I think the actual animation when you click on about will make it clear, but I'm having a harder time IDing it as a sub nav when static. Not sure if we need the word about again? Maybe we left align the actual sub sections? Will think on it

[2016-07-28 20:37] mollieru commented on #140
Exciting @jjoteal !!

**Footer**
I happen to like the layout of the second one better (feels cleaner and more symmetrical), but politics is politics so I get it.

**Nav**
A few questions before feedback:
- Will all primary nav sections have secondary elements, or just the 'About' ? Do you anticipate adding more secondary sections in the near future (to 'About' or any other). Maybe more of a @david

[2016-07-28 20:41] davidrkaufman commented on #140
Right, context is helpful. Sorry about that @mollieru.

We're working on a few site updates, most substantinial of which is breaking the about section into multiple sections (Mission & Team, Values, Story).

Will all primary nav sections have secondary elements, or just the 'About' ? Do you anticipate adding more secondary sections in the near future (to 'About' or any other). Maybe more of a @dav

[2016-07-28 20:46] davidrkaufman commented on #140
Sorry and one more think @mollieru --the reference you added for myra.gov is good, but we were trying to make it easy for a user to navigate/be aware of the subsections without having to go back to the top nav and hover again.

[2016-07-28 21:06] mollieru commented on #140
Awesome -- all very helpful!

Ok, just got a wee bit of second eyes from some 18F UX friends to help me think through this given your above goals.

Here's what they said (which seems unrelated at first but you'll see how it connects):
- The large circle logo at the top of every primary page gives the impression that we're on a single long page site -- they were confused at first why the top nav wa

[2016-07-28 21:07] mollieru commented on #140
PS: can we have this convo in the open repo?

cc @cew821

[2016-07-28 21:08] mollieru commented on #126
Hi me again, annoying pro-open source nag. We can haz open repo?

[2016-07-29 02:02] jrminton opened #141 "USDS home page Arrows flaky in Safari"
If you go to [https://www.usds.gov](https://www.usds.gov) on Safari on Mac, and scroll down to people images, the arrows either don't show up or they partially disappear and/or don't work on mouse over.

[2016-07-29 11:32] jjoteal commented on #140
Thanks for the quick feedback @davidrkaufman @mollieru! For ease of combing through the feedback and efficiency, could you guys compile all of your consolidated list of changes into 2 bulleted lists: one for "Required Changes" and one for "Considerations"? That will make it super easy for me to know what I should move forward with for sure, and what I should consider exploring.

 Thanks in advance

[2016-07-29 13:49] davidrkaufman commented on #126
@cew821 - Are we good to push this live?

[2016-07-29 13:52] davidrkaufman commented on #141
@jrminton -- thanks for flagging.
@chrisfrommann - can you please take a look at this?

[2016-07-29 14:05] davidrkaufman commented on #140
**Required Changes**
- Lock _footer option 2_ - @mollieru, I agree with you on this one. It looks better, I'll deal with the internal conversations if they come up.
- Reserve the large circle logo only for the home landing, and on all other pages, use only the smaller crest (and add a hover state to it). This will create more real estate for secondary nav th
- In the secondary nav, nix the second

[2016-07-29 19:16] cew821 opened #142 "Content Hierarchy for Accessibility"
**This issue was reported by @jamesharnett in the previous public repo**

There is an issue in the order in which keyboard users interact with content, in the **Our work** section of `usds.gov`. As you can see from the "Current" image, the content presentation order makes sense up until it jumps to _Digital Immigration_, skipping over the link to `vets.gov`. This may not seem like a big deal, but

[2016-07-29 19:17] cew821 opened #143 "Vet Preference Link iframe"
**This issue was originally reported by @frankydp in the previous repo**
# The Veterans preference information link on the https://www.usds.gov/join#application page attempts to iframe the below link from OPM, which fails for SAMEORIGIN.  The resulting page also ends up in a state were the Apply Now(#application) anchor does not display the form.

https://www.opm.gov/policy-data-oversight/veterans

[2016-07-29 20:00] cew821 commented on #141
This was also reported by @benkutil in the old repo:

In trying to navigate forward in the homepage “people” carousel, I had a hard time using the click arrows to move forward and back.

![usds-gov-carousel](https://cloud.githubusercontent.com/assets/228373/15508002/cdefb0b0-219b-11e6-9b3f-53dfa54662e0.gif)

Mac 10.11.55
Safari 9.1.1

[Full Browser Details (PDF)](https://github.com/usds/website/fi

[2016-07-29 20:34] cew821 opened #145 ""Now Leaving" interstitial is not always big enough"
With a long link, the box is too small:

![image](https://cloud.githubusercontent.com/assets/1237498/17262607/5baa2560-55aa-11e6-8b91-60266a60ea38.png)

[2016-07-29 22:20] cew821 commented on #126
Yes, we're good. I'm planning to do this Monday.

[2016-07-31 04:46] Taitrnator commented on #48
also repro-ing this in safari

looks like culprit is main.css ~ line 246
.slick-prev, .slick-next {
   position: absolute;
   width: 20px;
   height 20px;
   ...
}

also left arrow isn't aligned correctly on any browser. Implementation needs a look over for sure.

[2016-08-01 14:04] davidrkaufman commented on #48
@chrisfrommann @cew821  -- can you please take a look at this? It's been reported by a few different folks now. See above

[2016-08-01 17:34] davidrkaufman commented on #54
@jamesharnett - thank you very much for flagging and providing the visuals

@cew821 @chrisfrommann - can you please review the above?

[2016-08-01 18:42] cew821 commented on #126
The repository is now public.

[2016-08-01 18:51] ErieMeyer commented on #126
☀️☀️☀️☀️☀️☀️☀️

[2016-08-01 20:49] mollieru commented on #126
YASSSS!! Thank you all!!

[2016-08-02 12:58] jjoteal commented on #140
Thanks @davidrkaufman. Will get to these changes Wed or Thu this week!

[2016-08-03 17:29] jjoteal commented on #140
Revisions for your review @davidrkaufman @mollieru!

**Revised Header (dark top rail):**
![image](https://cloud.githubusercontent.com/assets/12192706/17375227/b58122ae-5975-11e6-83dc-e75af999ac50.png)

**Revised Header (light gray top rail):**
![image](https://cloud.githubusercontent.com/assets/12192706/17375811/473288d0-5978-11e6-970f-0800096c5e8e.png)

**Approved Footer:**
![image](https://cloud

[2016-08-03 17:41] jjoteal commented on #140
@mollieru in the meantime, could you send me a link to the repository for all the various team logos?

[2016-08-03 18:03] mollieru commented on #140
@jjoteal yes! it's sort of a mixed bag at the moment -- not every team as a DS-style logo, but the ones we do have are here:

https://github.com/usds/branding/tree/master/DSteamlogos

[2016-08-03 18:17] jjoteal commented on #140
Thanks!

[2016-08-03 18:30] davidrkaufman commented on #140
@jjoteal - I vote to lock the dark blue top. @mollieru ?

Also, the Nav reads way better to me. Great feedback, Mollie, on changing the center logo on sub pages

[2016-08-03 18:37] alohaj9 commented on #140
agree! this new nav is very clear. agree that the dark blue works well, pending @mollieru

[2016-08-04 16:19] jjoteal opened #152 "Phase 2: Draft Designs for "Our Work" Landing and Individual Project Page"
Hello @davidrkaufman @alohaj9 @mollieru

Thoughts on this for a modified "Our Work" landing page (to meet the objective of incorporating the team logos):

![image](https://cloud.githubusercontent.com/assets/12192706/17409467/0a278a86-5a35-11e6-8a91-43b708cc1afb.png)

Clicking on the image or title of the project would go to the Individual Project page which would include the full write-up about th

[2016-08-08 18:23] davidrkaufman commented on #152
Would love feedback from @alohaj9 and @cew821, who I know has also been thinking about this.

I like the idea of integrating team logos--only complications are 1) teams that don't have a logo yet (HHS, for example) and 2) projects that are collaborations between multiple teams.

Regarding what we link out to, we don't have built out pages yet for each project, but I think we'll get to this point.

[2016-08-11 18:49] cew821 commented on #152
I like this idea, however most teams don't have unique logos (especially teams that are "in progress" like HHS), and many projects are cross-functional in nature so won't have a natural logo. So I think this may not work as well in practice, unless we are OK with only some of the projects having a logo.

[2016-08-11 19:46] davidrkaufman commented on #152
@cew821 @jjoteal

Yeah, good point charles. Let's hold on this for the moment until all teams have logos. We can focus efforts on the new about pages for the time being.

Thanks!

[2016-08-11 19:46] #152 closed, assigned to davidrkaufman

[2016-08-12 19:14] mollieru opened #155 "2nd birthday assets"
As requested, logo w 2nd birthday candle and just the candle on it's own, for your enjoyment @chrisfrommann 🎂

https://github.com/usds/branding/blob/master/assets/logo_w_2candle.png
https://github.com/usds/branding/blob/master/assets/2candle.png

[2016-08-12 19:17] mollieru commented on #140
Sorrrrry for holding everything up -- I totally missed this!

Agree all looks much better. Love this Jess!

One small tweak: we'll need a secondary indicator of current state other than color change in the sub-nav (an underline will do the trick) -- accessibility requirement.

Nice work!

[2016-08-17 19:53] jamesharnett-zz opened #156 "Content Hierarchy for Accessibility"
Bumping [issue #54](https://github.com/usds/website/issues/54) from [usds/website](github.com/usds/website).

[2016-08-17 20:19] jjoteal commented on #140
Ok, @davidrkaufman and @mollieru, here are the final designs for the new header and footer:

**Final Header**
![image](https://cloud.githubusercontent.com/assets/12192706/17751479/4c45c1f2-6495-11e6-9c61-05ead917669c.png)

**Final Footer**
![image](https://cloud.githubusercontent.com/assets/12192706/17751493/5af0b0d6-6495-11e6-839a-07965036ea2a.png)

I've attached the PSD for the desktop version (

[2016-08-17 21:29] jjoteal commented on #140
And @davidrkaufman @mollieru, here's a draft of the mobile nav, header, and footer:

![image](https://cloud.githubusercontent.com/assets/12192706/17753921/17048022-64a0-11e6-8557-ad09ab043222.png)

Please pass along any feedback!

[2016-08-17 22:37] jjoteal opened #157 "Phase 2: Draft Design for Mission & Team Page"
Hello again @davidrkaufman and @mollieru!

Here is the draft Mission & Team page for your review. I figured using the illustrations on this page would be a good way to carry out that overall aesthetic. Will we need an HQ seal sketch though... And of course, you should feel free to place the teams in any order you see fit.

Let me know your thoughts!

![image](https://cloud.githubusercontent.com/as

[2016-08-18 12:12] cew821 commented on #156
Thanks James - I actually already ported that over in #142 so closing this as a dupe. Thank you so much for reporting it, it is in our backlog.

[2016-08-18 12:12] #156 closed, assigned to nobody

[2016-08-18 12:48] jamesharnett-zz commented on #156
Sorry, didn't see it. Thanks!

[2016-08-18 13:36] davidrkaufman commented on #157
Thanks @jjoteal -- this looks great to me! Very simple and clear. Let me confirm with Mikey or Haley which teams should be included in our network. If it scales up or down, I'm assuming we just continue the 2-3-2 pattern? Only other contigency would be @nguyenist having time to do a few watercolors for this.

@mollieru - design FYI

@cew821 @chrisfrommann - development FYI

[2016-08-18 13:41] davidrkaufman commented on #140
@jjoteal - this LGTM. I don't think we'll need the option to expand "Our Work" quite yet, but no need to update the design.

@mollieru - any final feedback?

[2016-08-18 14:39] jjoteal commented on #157
@davidrkaufman cool. Yes, we would continue the 2-3-2 pattern. And yes, we'd need @nguyenist to create new watercolors for any new teams, in addition to creating one for HQ.

Let me know if the team has any design changes and I'll be ready to make them!

[2016-08-18 19:05] davidrkaufman commented on #157
@nguyenist has tenatively signed on for this :)

stay tuned--will check w Mikey re: teams ASAP

[2016-08-19 18:00] davidrkaufman commented on #157
@jjoteal -- barring any feedback from Mollie, we'll move forward here. Can you please provide @chrisfrommann and I with PSDs for this and the mobile design? Thanks!

[2016-08-19 18:02] davidrkaufman commented on #140
@jjoteal -- let's move forward with this. Can you please provide @chrisfrommann and I with PSDs for desktop and mobile

[2016-08-19 18:53] davidrkaufman opened #172 "Add images for 6 new projects"
@chrisfrommann - when i try an upload the images, it says "something went really wrong". Awesome.

I will email you all the photos.

[2016-08-19 19:48] jjoteal commented on #140
Yep! Here you go @chrisfrommann !

**Desktop:**
[usds-header-footer-desktop.psd.zip](https://github.com/usds/website-redesign/files/427773/usds-header-footer-desktop.psd.zip)

**Mobile:**
[usds-header-footer-mobile.psd.zip](https://github.com/usds/website-redesign/files/427774/usds-header-footer-mobile.psd.zip)

[2016-08-19 19:49] jjoteal commented on #157
Sure thing @davidrkaufman. I can have the mobile version for you early next week, but here is the desktop version PSD:
[usds-mission-desktop.psd.zip](https://github.com/usds/website-redesign/files/427777/usds-mission-desktop.psd.zip)

[2016-08-19 19:50] davidrkaufman commented on #140
thanks @jjoteal ! Closing this out.

[2016-08-19 19:50] #140 closed, assigned to alohaj9, davidrkaufman

[2016-08-19 20:03] davidrkaufman commented on #157
Thanks @jjoteal. CC: @chrisfrommann

[2016-08-23 14:13] jjoteal commented on #157
@davidrkaufman @chrisfrommann

**Here is the mobile version:**
![image](https://cloud.githubusercontent.com/assets/12192706/17895131/0feff2de-691a-11e6-9584-45636cdfefc5.png)

**And here is the PSD:**
[usds-mission-mobile.psd.zip](https://github.com/usds/website-redesign/files/432608/usds-mission-mobile.psd.zip)

[2016-08-23 14:15] #155 closed, assigned to nobody

[2016-08-23 14:20] mollieru commented on #157
Hi sorry for radio silence!

 I think this looks real good! Depending on the amount of text, might look nice to have the 'mission' body text in a larger font size (like the serif body font on the 'about' page).

I suggest we put the content in before signing off on the layout since in the first release the content changed the spacing needed.

[2016-08-23 14:29] davidrkaufman commented on #157
@mollieru Thank! I'll be sure we get a design review in once the content is actually plugged in.

[2016-08-24 18:01] davidrkaufman opened #173 "Add gold "Join US" button above the fold on landing page"
Under: "The United States Digital Service is a startup at The White House, using design
and technology to deliver better services to the American people."

Will likely have to tweak the spacing on the image. Assinging @chrisfrommann and @cew821--whomever can pick this up first.

Thanks!

[2016-09-09 21:10] davidrkaufman commented on #157
@jjoteal -- re-opening this with a minor update.

Given that the question continues to come up with recruits, I'd like to better differentiate official USDS teams (USDS, VA, DOD, DHS) from teams we're partnering with (Ed, State, HHS, Treasury, Justice, SBA).

Could we add text to divide up the two sections. For the moment we can use.

U.S. Digital Services Teams
{seals for DoD, VA, DHS}

Actively

[2016-09-12 14:23] davidrkaufman commented on #157
@jjoteal @nguyenist @chrisfrommann - hold on this for the moment. more details likely to come today

[2016-09-12 22:37] chrisfrommann commented on #126
As a note, the old `website` repo is now `website-v1` and `website-redesign` was renamed to just plain `website`. Woot, woot!

[2016-09-12 22:37] chrisfrommann commented on #172
Done and done

[2016-09-12 22:37] #172 closed, assigned to chrisfrommann

[2016-09-13 12:20] jjoteal commented on #157
Sounds good @davidrkaufman . Also, as a heads up, my email wrongly migrated to the new server, so they are moving me back today (in theory). As of now, I'm unable to access email, so if you need to reach me quickly, text me at 248.760.3656.

[2016-09-14 18:18] nguyenist-zz commented on #157
@davidrkaufman hey let me know once the convos around finalizing what seals / images we need on the about page happen / are approved before i work on them.

[2016-09-19 15:41] Greendragonflyz opened #180 "emojis during Presidetial speach"
Not cute. Only distracting. Esp when the topic is deeply concerning. Maybe want to give that one another think.

[2016-09-19 15:44] cew821 commented on #180
thanks for the feedback!

[2016-09-19 15:44] #180 closed, assigned to nobody

[2016-09-29 14:08] davidrkaufman opened #184 "Update Infograpic"
Can we please update the number of USDSers in the infographic to 195?

Also, if possible to share a printable file by EOD, I'd like to get this up for the SxSL open house.

[2016-09-29 20:02] davidrkaufman opened #185 "Move down black background behind "more awesome gov" copy"
cc: @mollieru who can add details

[2016-09-30 18:38] alexose opened #188 "Higher resolution / responsive splash image"
As a visitor to the USDS front page, I want to see all of your lovely faces in the group photo.

We could use a higher resolution photo with [srcset](https://css-tricks.com/responsive-images-youre-just-changing-resolutions-use-srcset/) without sacrificing performance on smaller screens.

Thank you!

[2016-09-30 18:39] askldjd commented on #188
Thank you for being awesome.

[2016-10-05 18:52] chrisfrommann commented on #188
Thanks for the flag, @alexose! We only had one (low-res) version of the image to start, but we got the original and I'm updating it now with multiple versions (we'll probably start with different resolutions, but may want to change the cropping/composition later -- TBD).

[2016-10-06 04:28] chrisfrommann commented on #188
See PR #189

[2016-10-06 04:28] #188 closed, assigned to chrisfrommann

[2016-10-06 04:30] chrisfrommann commented on #185
Moved it slightly down in PR #189. Let me know if that is enough contrast, @mollieru!

[2016-10-06 23:48] unruthless commented on #126
👋  Hi! Thanks for open-sourcing this!

@chrisfrommann Per that name change, I just submitted a pull request that updates the README to reference a repo called `website` rather than `website-redesign`: #190

Once that pull request is merged in, and since this repo is now open source, I wonder if this issue can be closed? If the "write a better Readme with information relevant to members of the publ

[2016-10-07 00:10] unruthless commented on #143
The source code for the link in question isn't in this repository; instead, it's included via an `iframe` containing an embedded Salesforce (?) form.

Is it possible to add a `target="blank"` to the link's anchor tag, so that the OPM page opens in a new window or new tab? In other words, is it possible to change

`Are you a Veteran of the U.S. Armed Forces or are you eligible for "derived" <a href

[2016-10-11 22:03] davidrkaufman commented on #157
@chrisfrommann

here's the copy. thanks for being USA #1.
[Website Updates.docx](https://github.com/usds/website/files/523060/Website.Updates.docx)

[2016-10-12 05:36] chrisfrommann commented on #145
The box no longer has a fixed height and I added 'word-wrap: break-word;' to 'you are now leaving' URLs; see PR #192

[2016-10-12 13:18] cew821 commented on #145
Nice. I am closing this.

[2016-10-12 13:18] #145 closed, assigned to chrisfrommann

[2016-10-13 13:59] davidrkaufman commented on #157
@jjoteal @mollieru @nguyenist @alohaj9 - FYI, this is now live, minus the network of teams section. Additionally Chris is still working on implementing on mobile. @chrisfrommann: When do you expect the mobile version to be displaying properly?

[2016-10-14 03:04] chrisfrommann commented on #157
@davidrkaufman, mobile is all done -- see PR #193!

[2016-10-14 14:46] davidrkaufman commented on #157
Thank you!

From: Chris Frommann [mailto:notifications@github.com]
Sent: Thursday, October 13, 2016 11:05 PM
To: usds/website website@noreply.github.com
Cc: Kaufman, David R. EOP/OMB David_R_Kaufman@omb.eop.gov; Mention mention@noreply.github.com
Subject: Re: [usds/website] Phase 2: Draft Design for Mission & Team Page (#157)

@davidrkaufmanhttps://github.com/davidrkaufman, mobile is all done -- s

[2016-10-18 22:27] davidrkaufman opened #195 "Update Press Links"
Hey Chris/Charles,

Can you please help update the press section of the site with three additional links:

Star Spangled Geeks: https://backchannel.com/inside-the-obama-tech-surge-as-it-hacks-the-pentagon-and-va-8b439bc33ed1

To Fix Government Tech, Take Off the Headphones and Listen: https://shift.newco.co/hands-off-the-keyboard-innovation-lessons-from-inside-the-us-government-1c9f592f8e5e#.b07c2

[2016-10-19 02:03] mark-velez opened #196 "Fix protocol of Reports link"

[2016-10-19 23:23] chrisfrommann commented on #196
Fixed, thanks for flagging!

[2016-10-19 23:23] #196 closed, assigned to nobody

[2016-10-19 23:23] chrisfrommann commented on #195
Live now

[2016-10-19 23:23] #195 closed, assigned to cew821, chrisfrommann

[2016-10-19 23:24] chrisfrommann commented on #185
Marking as resolved

[2016-10-19 23:24] #185 closed, assigned to nobody

[2016-10-20 20:21] davidrkaufman commented on #157
@chrisfrommann @nguyenist

Reviving this thread with a final decision. We'll maintain Jess' initial design, and include the agency shields (the proper agency shield...ex: VA, not VA DS) for:

Ed
HHS
DoD
State
DHS
VA
TREASURY
SBA

ACTION ITEMS:
- **Chris**: Can you start putting together the build for this page, which will live on the current "Our Mission" section of the site.  A few minor changes/

[2016-10-22 13:07] nguyenist-zz commented on #184
Included here https://github.com/usds/website/pull/199

[2016-10-22 13:09] nguyenist-zz commented on #157
@davidrkaufman Sounds good. Breaking this out into different issues so it doesn't get lost in this thread. See: #201

[2016-10-22 13:11] nguyenist-zz opened #201 "Illustrate agency shields for: Treasury, SBA, State"
Creating:
- Treasury
- SBA
- State

@davidrkaufman let me know if there are any missing

[2016-10-22 13:12] #184 closed, assigned to nguyenist-zz

[2016-10-22 17:58] nguyenist-zz commented on #201
@davidrkaufman realized we already have State logo on the website, so only needed to create Treasury and SBA. See PR #202.

[2016-10-22 18:01] nguyenist-zz commented on #157
@jjoteal @chrisfrommann I uploaded the shields separately so we can do these screens. Is this still current even though we are not doing a shield for usds?
![image](https://cloud.githubusercontent.com/assets/4484141/19621431/da7a1308-985f-11e6-9ed7-6dcacd159ea5.png)
and
![image](https://cloud.githubusercontent.com/assets/4484141/19621435/e2348dda-985f-11e6-94c2-1e6963d51ac1.png)

[2016-10-24 13:27] davidrkaufman commented on #157
@nguyenist - still current, but @jjoteal, we now have 8 shields. How would you like us to lay these out on desktop?

[2016-10-25 13:00] davidrkaufman opened #205 "Refugee Video"

[2016-10-25 13:45] #205 closed, assigned to nobody

[2016-10-26 20:38] davidrkaufman opened #209 "Benefits Tab on Join Us is Blank"
The copy that should appear under the benefits tab is showing at the bottom of "who we're hiring". I'm not sure why after checking out the HTML.

**Health insurance**

All joining full-time for more than three months are eligible to receive health insurance. Many employees will also be eligible for dental and vision plans and will be automatically covered by basic life insurance with the option to

[2016-10-26 20:41] alohaj9 commented on #157
@chrisfrommann - do you have an ETA for this update? Ideally, we'll have this live by November 4th. Thank you!

[2016-10-26 21:54] jas298 opened #210 "Add "Product Counsel" to list of skill sets we're hiring"
Per email convo with Amy Barker, please add "Product counsel" to the list of skill sets we're looking for at https://www.usds.gov/join#who. Thanks!!

[2016-10-27 14:03] davidrkaufman commented on #210
See: https://github.com/usds/website/pull/211

[2016-10-27 14:03] #210 closed, assigned to davidrkaufman

[2016-10-28 16:04] davidrkaufman commented on #209
@chrisfrommann the friendliest of pings

[2016-11-01 23:02] chrisfrommann commented on #209
Fixed ✅

[2016-11-01 23:02] #209 closed, assigned to chrisfrommann

[2016-11-08 16:02] #125 closed

[2016-11-08 18:35] davidrkaufman opened #222 "Update Jason's Headshot"
Attached

cc: @jasonwu-usds
![jason](https://cloud.githubusercontent.com/assets/16724203/20111942/34a70dee-a5b8-11e6-85ba-eb1f546bb68e.jpg)

[2016-11-14 20:55] chrisfrommann commented on #222
✅

[2016-11-14 20:55] #222 closed, assigned to chrisfrommann

[2016-11-28 21:48] lizmueller opened #224 "[Join Us] Add character counter to "Anything else we should know?" textarea"
Adding a character countdown to show the remaining characters (like [this JSFiddle](http://jsfiddle.net/timur/47a7A/)) would improve usability of the Apply Now/Join Us form.

Textarea ID = appPage:appForm:whyJoin

[2016-12-16 04:38] neilmartis opened #225 "USDS/Join page"
Hi All

The Current USDS join page takes me to the Salesforce Page when asking users to join with the EOP email address dl-oa-salesforceadmins@oa.eop.gov
![screen shot 2016-12-15 at 11 36 30 pm](https://cloud.githubusercontent.com/assets/10228512/21251859/86dc0d56-c31f-11e6-8da0-f1d39a61099e.png)
Thanks,
Neil

[2016-12-16 06:47] chrisfrommann commented on #225
Flagging for @briandroberts (CC: @alohaj9, @davidrkaufman)

[2016-12-16 13:40] neilmartis commented on #225
@chrisfrommann @alohaj9 @davidrkaufman I also submitted a pull request if that help to bring back the original form

[2016-12-16 14:45] chrisfrommann commented on #225
Thanks for that, Neil -- unfortunately that form won't work. We're looking into what went wrong with Salesforce -- thanks so much for bringing it to our attention!

On Dec 16, 2016, at 8:40 AM, Neil Martis <notifications@github.com<mailto:notifications@github.com>> wrote:

@chrisfrommann<https://github.com/chrisfrommann> @alohaj9<https://github.com/alohaj9> @davidrkaufman<https://github.com/davidr

[2016-12-16 14:47] neilmartis commented on #225
@chrisfrommann Glad to help.

[2017-01-04 14:55] #173 closed, assigned to cew821, chrisfrommann

[2017-01-04 14:58] dkaufman36 opened #227 "Add "Play Video" Button to Homepage"
Chris--

In prep for the video launch, can you please add a button on the first section of the homepage that says "Play video" and opens up a YouTube video player window?

Reference: https://nest.com/thermostat/meet-nest-thermostat/

[2017-01-04 16:02] dkaufman36 opened #228 "Remove 3 People from USDS.gov homepage people section"
Please remove Lucy, Victor, and Alex. Can just shift everyone remaining over a space.

cc: @alohaj9

[2017-01-04 21:25] #225 closed

[2017-01-05 16:27] dkaufman36 opened #230 "Copy Missing from Homepage"
It appears the H2 for "Our work" went missing on the homepage. Believe this is a simple fix, but I don't have my mac so didn't want to touch anything.

Intricate bug report attached.
![where did our work go](https://cloud.githubusercontent.com/assets/24896125/21688187/d857fc2e-d339-11e6-8ef6-4035faf5b031.PNG)

Assigning to Chris, but cc'ing @alex who has had record response time recently, if he ca

[2017-01-05 16:33] neilmartis commented on #230
@davidrkaufman Made a pull request for it

[2017-01-06 15:19] dkaufman36 commented on #230
@chrisfrommann bumping this if you can resolve today please

[2017-01-06 15:27] dkaufman36 opened #233 "Changes for Congressional Report"
Nacin,

To keep us organized, I wanted to add all changes to one issue. Once the report is ready for the site we should:

1)  Add a subnav to "Our work" in the site header. Our two sub nav options will be: "Portfolio" and "2016 Report to Congress"

2) On the homepage of USDS.gov, put a blue banner after the "Solving Big Problems" section that looks something like the below.

![report banner](https

[2017-01-06 16:24] nacin commented on #233
Paging @chrisfrommann. The nav CSS will need some tweaking to allow for the second submenu nav, and he'd likely get that done a few times faster than I could. Halp.

Otherwise I will continue to focus on getting the report pages ready. We can work in a public PR here for everything but the report text.

Items 2-5 here are straightforward and if Chris has time, awesome, otherwise I will handle. Jus

[2017-01-06 17:22] chrisfrommann commented on #233
I can do this tonight, but back to back until 5p.

[2017-01-06 17:23] nacin commented on #233
@chrisfrommann I hope to wrap this up this weekend, to give you an idea of timing. Not going live until later next week (at earliest).

[2017-01-06 17:29] nacin commented on #233
@dkaufman36 For bonus points, should that instead be a new page, rather than a PDF? PDFs are sad.

[2017-01-06 17:30] nacin commented on #233
Never mind, I see your clear justification above.

[2017-01-10 16:58] dkaufman36 commented on #227
@chrisfrommann know you're in CHI, but bumping this to ensure it's on your radar. Have to have this live for Monday :1st_place_medal: !

[2017-01-10 20:34] chrisfrommann commented on #230
Fixed in `master`

[2017-01-10 20:34] chrisfrommann commented on #228
Fixed in `master`

[2017-01-10 20:34] #228 closed, assigned to chrisfrommann

[2017-01-11 18:15] nguyenist-zz opened #234 "U.S. Capitol Building Illustration for Congressional Report"
looping in @dkaufman36

[2017-01-12 05:02] #233 closed, assigned to nacin, chrisfrommann

[2017-01-12 20:31] #234 closed, assigned to nguyenist-zz

[2017-01-13 21:19] #230 closed, assigned to chrisfrommann

[2017-01-19 00:35] chrisfrommann commented on #227
Done

[2017-01-19 00:35] #227 closed, assigned to chrisfrommann

[2017-01-19 13:53] davidchang-gov commented on #201
#202 fixes this issue so closing. Thanks!

[2017-01-19 13:53] #201 closed, assigned to nguyenist-zz

[2017-01-19 14:39] davidchang-gov commented on #126
I deleted the old repo https://github.com/usds/website-v1 given that it was confusing and all the issues were migrated by @cew821 (technically I made it private and waiting 24 hours to see if there are complaints/comments). With #249 and #250, I think we can consider this closed.

[2017-01-19 20:10] charwo commented on #126
Thanks much for the cleanup here. closed!

[2017-01-19 20:10] #126 closed, assigned to cew821

[2017-01-23 19:18] davidchang-gov commented on #141
Fixed in #251

[2017-01-23 19:18] #141 closed, assigned to chrisfrommann

[2017-01-25 04:45] username1290 opened #254 "What's the minimum supported browser?"
Hi, wanted to know what are the oldest browsers that the USDS supports?

Thanks

[2017-01-31 06:09] chrisfrommann commented on #143
@briandroberts, can you add `target="blank"` to the link in Salesforce?

[2017-01-31 21:49] tomlaheyh opened #256 "tomlaheyh@gmail.com"
Its more than amazing that you don't have an email for people to send comments, information, questions. You can put in a note that your don't have time to personally answer all questions, but will try with the limited resources you have. Next put an auto responder with a "thanks for your email etc." You don't even have to look at a single email (although that would be good...) at least fake being

[2017-01-31 21:51] charwo commented on #256
Thanks for the feedback Tom.

[2017-01-31 21:51] #256 closed, assigned to nobody

[2017-02-03 01:50] johangithub opened #258 "[Join Us] After failed attempts"
Hello,
I was submitting an application yersterday and exceeded the character count a few times before getting it right. After each failed attempts, the website looked like it didn't have its CSS file loaded. All the elements and text were there, but not in the same format as before hitting the submit button.

[2017-02-04 18:33] neilmartis opened #259 "Remove the word "Fit" from Final Interview"
Its good to hire people from all walks of life.http://www.forbes.com/sites/erikaandersen/2015/03/17/is-cultural-fit-just-a-new-way-to-discriminate/#60753df273b9

http://fortune.com/2015/12/07/culture-fit-hiring-discrimination/
Sorry I didn't mean to offend anyone about it.I am in the same situation before hence feel the same about others that's all

[2017-02-05 02:36] kwokster10 commented on #224
I was playing around with the page and it looks like the following can be added to the iframe to get this functionality:

[code]

It would need to be added to to the iframe with Salesforce though, otherwise it throws a `cross-origin frame` error.

[2017-02-05 02:54] kwokster10 opened #261 "Left and right sides of Join us form are cut off"
While on a 13" laptop, I noticed the left side of the Join us form is cutoff. This causes the checkboxes to be missing it's left border and all of the form fields highlighting are cut off on focus.

<img width="654" alt="desktop view" src="https://cloud.githubusercontent.com/assets/11097983/22623289/48531698-eb23-11e6-9193-f94c23803ea3.png">

Opening the console and toggling the devices show that

[2017-02-10 15:54] charwo commented on #143
@briandroberts ping!

[2017-02-16 20:27] jas298 commented on #143
This is fixed!

[2017-02-16 20:27] #143 closed, assigned to nobody

[2017-02-17 21:59] jas298 opened #269 "Can't click on the veteran's preference link in the online application"
I assume I broke this yesterday while trying to get the checkbox lines to wrap rather than staying on one line when the screen size changed.

[2017-02-23 18:37] wslack opened #280 "Website took a very long time to load just now"
I just went to USDS.gov and it took 15 seconds to resolve DNS (or so it appeared). Just an FYI; not sure what cause was. Reloads work fine.

[2017-03-05 13:49] ayaleloehr opened #281 "Redirect from whitehouse.gov disappeared"
https://www.whitehouse.gov/digital/united-states-digital-service used to be the USDS website before we got usds.gov.  There are still many links online to the old URL, which it no longer redirects to usds.gov and instead returns a 404. Any chance we can make this old URL start redirecting again?

[2017-03-21 15:36] davidchang-gov commented on #281
Looking at Google analytics -> Acquisition -> Source

From Dec 1 -> Dec 31 of 2016:
Of 12,724 session, 8 came from whitehouse.gov and none of those submitted an application.

Therefore, given that it's going to be a thing every 4-8 years, it's best that we use the usds.gov domain.

Thanks for pointing this out!

[2017-03-21 15:36] #281 closed, assigned to nobody

[2017-03-21 15:36] davidchang-gov commented on #280
Thanks for reporting!

[2017-03-21 15:36] #280 closed, assigned to nobody

[2017-03-21 15:38] ayaleloehr commented on #281
Making decisions with data? Fine. :)

[2017-03-22 14:50] jaredcunha-usds commented on #261
It seems to be combination of that and perhaps a need for padding on the `<body>`. Does anyone know where the form might be? @davidchang-gov

[2017-03-22 17:22] davidchang-gov commented on #261
The iframe is hosted on Salesforce. So @jas298 and @briandroberts will have to help out. I'm sure they'd appreciate you finding the right css to do the right things and then they can help deploy.

[2017-03-22 17:41] jas298 commented on #261
Yes, we tried to fix this, ultimately broke something else, and haven't come back to it. @jaredcunha if you want to sit down next week and look at this in Salesforce, I'd be happy to do that. @briandroberts is also around JP this week if you want to do it now!

[2017-03-22 18:02] jaredcunha-usds commented on #261
@jas298 I'm between projects at the moment so I can definitely help out with this. @briandroberts, let me know when you're around and we can knock this out.

[2017-03-22 19:09] jaredcunha-usds commented on #261
For what it's worth, I do have some code that is ready to go. However, there are inline styles using `!important` (which is just cruel 😐) that we need have taken out.

[2017-04-11 12:44] jas298 commented on #259
@neilmartis Sorry for the slow response on this! Our "fit" interviews aren't about cultural fit, but rather skill set fit, since we have several different teams with different needs. We completely agree that diversity in all its forms is vital! I'll talk to the team about whether we ought to change this name so it's not confusing. Thanks for flagging!

[2017-04-11 12:44] #259 closed, assigned to nobody

[2017-04-13 18:44] davidchang-gov commented on #269
Fixed! Thanks @jas298!

[2017-04-13 18:44] #269 closed, assigned to nobody

[2017-04-13 18:44] davidchang-gov commented on #261
Fixed! Thanks @jas298!

[2017-04-13 18:44] #261 closed, assigned to nobody

[2017-04-13 18:47] davidchang-gov commented on #157
We've implemented the mission page and have drawings for all the agencies. Thanks!

[2017-04-13 18:47] #157 closed, assigned to nobody

[2017-04-13 18:53] davidchang-gov opened #298 "Add Referrer-Policy, Public-Key-Pin and other headers"
- Content-Security-Policy
- Public-Key-Pins
- X-Frame-Options
- X-XSS-Protection
- Referrer-Policy

https://securityheaders.io/?q=https%3A%2F%2Fwww.usds.gov%2F&hide=on&followRedirects=on

We don't actually directly control the host machines so we'll have to work with internal partners. Sorry if this takes a really long time.

Related to: #109

[2017-04-18 15:55] jas298 opened #299 "Application form loses styling when there is an error"
When I submit an application but miss a required field (or there is another error), the page reloads with the error, but is sub-optimal in three ways:

1. The form loads without styling, which makes it hard to read/identify.
2. The error message is at the bottom of the form, and isn't identifiable in any way; I didn't notice it the first two times through.
3. When the page reloads, you're still at

[2017-04-26 19:12] sarahsaltiel opened #300 "Need to update the "meet the team" portion of the homepage"
Update folks that have left, add some new faces. Not sure who to assign this too...

[2017-05-05 17:49] justgrimes opened #303 "Add Digital Analytics Program (DAP) tracker to usds.gov"
Recommend adding Digital Analytics Program (DAP) tracker to usds.gov

For reference, Digital Analytics Program (DAP) is a central, shared web analytics service for federal agencies of the United States government, managed by the General Services Administration. Participating federal agencies report web analytics to a central account, and have access to all reported data. Data from the program is a

[2017-05-10 20:54] jas298 opened #308 "Remove chart from our story"
Remove the men/women breakdown chart from https://www.usds.gov/story. Assignee TBD--I will return and make this happen.

[2017-05-19 15:19] nacingov commented on #254
Hi @sogen, it depends on the project. Following the USDS Playbook (https://playbook.cio.gov), we use data to drive these decisions. Browser usage across government websites, which can be seen on the [analytics dashboard](https://analytics.usa.gov/), can be variable depending on the populations using the service. Similarly, an internally-facing system used only by government employees may be able t

[2017-05-19 15:19] #254 closed, assigned to nobody

[2017-05-19 16:05] jas298 commented on #303
@nacingov Can you please look into this?

[2017-05-19 20:59] jas298 commented on #308
@jaredcunha Could you take a look at this, please?

[2017-05-19 21:00] jas298 commented on #300
@sarahsaltiel Per our conversation last week, assigning this to you to work on putting together bios on new people. LMK when those are ready and we can reassign to complete the work.

[2017-05-19 21:01] jas298 commented on #299
@jaredcunha You mentioned today you might know the cause of this--can you take a look, please? LMK if you need access to Salesforce.

[2017-05-19 21:03] jas298 commented on #258
Thanks, @johangithub! Looks like I also reported this in #299, so I'm closing this one out.

[2017-05-19 21:03] #258 closed, assigned to nobody

[2017-05-19 21:05] jas298 commented on #142
@nacingov Would you mind taking a look at this one?

[2017-05-19 21:44] nacingov commented on #142
To keep the same design (such that the links in each row are vertically aligned, regardless of the height of the body text), we'd need to move to CSS grid layouts. Or, we could sacrifice the existing design and bring the links directly under the text.

[2017-05-22 18:35] jaredcunha-usds commented on #299
I think I figured out the issue. Seems due to relative paths.

The iframe source is here:
https://wh45.secure.force.com/digitalserviceform/
The stylesheet link is here: `//www.usds.gov/lib/uswds/css/uswds.min.css`

When you submit the form without the required fields, the form reloads here (notice new directory?):
https://wh45.secure.force.com/digitalserviceform/ApplicationForm
Now the link to the

[2017-05-24 17:56] username1290 commented on #254
👍

[2017-05-25 14:40] jaredcunha-usds commented on #303
@nacingov @jas298 #317 is looking good. Gonna take this issue and move to the Review column.

[2017-05-25 14:45] jaredcunha-usds commented on #142
I can't think of a compelling reason why those links even need to be aligned. The relationships are with the content above them rather than each other.

[2017-05-25 16:33] #308 closed, assigned to jaredcunha-usds

[2017-05-25 20:39] jas298 commented on #299
@jaredcunha-usds Do you need to look at the form in Salesforce to answer the question of how it works? If so, I'm happy to make that happen!

[2017-05-25 20:40] jas298 commented on #142
@nacingov @jaredcunha-usds I agree with Jared; I see no reason why the links can't be immediately below the text.

@sarahsaltiel thought?

[2017-05-25 20:49] sarahsaltiel commented on #142
I agree, that makes sense @jaredcunha

Would we be able to see what that looks like?

[2017-05-26 13:56] jaredcunha-usds commented on #142
This is what it would look like:

<img width="1089" alt="screen shot 2017-05-26 at 9 55 20 am" src="https://cloud.githubusercontent.com/assets/25435289/26497438/827bd3fa-41f9-11e7-94bf-9cec356fc8dd.png">

[2017-05-30 21:26] jaredcunha-usds commented on #142
I have this PR if the design edits look good.
https://github.com/usds/website/pull/318

[2017-05-31 13:36] sarahsaltiel opened #320 "Make "quotes " consistent on the people section"
Remove quotation marks for the blurbs that have them

[2017-05-31 13:41] sarahsaltiel opened #321 "Update "our work" section with more recent projects"
This will be pulled from the latest report to congress as soon as it is approved. Holding until then.

[2017-05-31 16:10] sarahsaltiel opened #325 "Update press section"
+wired article

[2017-06-01 01:01] jas298 opened #326 "Remove State & Treasury from "our story" page"
We've wrapped our projects at State and Treasury! They need to be removed from both the text and the images of agency seals. While we're at it, let's remove the erroneous "and" in the middle of that sentence.

[2017-06-02 14:47] jas298 commented on #142
Changes look fine to me; @sarahsaltiel are you good with them? If so, I will merge #318.

[2017-06-02 14:49] jas298 commented on #326
#319 addresses this, closing out.

[2017-06-02 14:49] #326 closed, assigned to nobody

[2017-06-02 14:58] jas298 commented on #325
@sarahsaltiel Putting this in "ready for work"--please charge ahead when you feel ready!

[2017-06-02 15:52] #303 closed, assigned to nacingov

[2017-06-02 18:26] sarahsaltiel commented on #142
Looks good @jas298 @jaredcunha

[2017-06-02 19:44] sarahsaltiel commented on #320
done. pushed to jenny.

[2017-06-02 19:48] sarahsaltiel commented on #325
Removed nytimes, added wired.

Not closing because i still need to edit and add more.

[2017-06-13 21:10] sarahsaltiel opened #330 "Applicants submitting application, not receiving confirmation email and application not populating in salesforce"
At first I thought it was user error, as I was able to submit. However, we've received 3 - 5 complaints about this issue over the past 2 weeks which I consider high. Any way for us to look into this..?

PS Nadia has specific names/dates for when this has happened.

[2017-06-13 21:12] nacingov commented on #330
I have no insight into the Salesforce integration. We'll need to ask OA for help if @jas298 doesn't have appropriate accesses or insights. Also possible we can enlist @kimballce.

[2017-06-13 21:42] nadiay123 commented on #330
Here are times that we've recieved emails about applications or resumes not going through.
If OA / Jenny need names I'll send those along separately, but leaving timestamps here as an FYI for now.

 No Application - 5/23: Midnight ish?
 No application: 5/24:11:54 AM
 Resume error : 5/30 11:00 PM
 No application:  6/11 1:10 PM

[2017-06-14 15:47] sarahsaltiel commented on #330
More issues reported from other members of talent. Do you know someone we can call in OA @nacingov ? Jenny's out of the country til next week.

[2017-06-15 15:53] sarahsaltiel commented on #330
Spoke to brian today about what to do - emailing Dylan Kaufman from OA. Trying to recreate the issue.

[2017-06-21 23:11] nadiay123 commented on #330
Adding updates here - in case anyone is following along:
Looks like it might be tied to people going over the 500 character limit (and the website counting the spaces?)
Unclear - but had 2 new candidates mention this issue today.

[2017-06-21 23:16] nadiay123 commented on #330
also related issue: https://github.com/usds/website/issues/224

[2017-06-26 17:03] jas298 commented on #330
I agree with the hypothesis that this is due to people going over the 500-word limit, because when they do and they get an error, it's really hard to spot. However, not sure if that is the case. @sarahsaltiel, can you please add me to your thread with Dylan and I will follow up with him?

[2017-07-12 12:24] jas298 commented on #300
@sarahsaltiel Any movement on this?

[2017-07-13 14:04] sarahsaltiel opened #337 "under anything else in application, can we say 500 characters including spaces?"
We've had issues with applications disappearing because of applicants going over the character count (bc they assume it doesn't include spaces). Can we change the text to be obvious?

Current:
Optional. Tell us about problems you would like to solve, areas you are passionate about, or why you would like to join. Limit: 500 characters.

Updated:
Optional. Tell us about problems you would like to so

[2017-07-18 05:45] nacingov commented on #337
I'm curious, have we received reports of people specifically thinking that they assumed spaces didn't count?

[2017-07-18 05:48] nacin commented on #337
@jas298 Do you have the ability in Salesforce to modify the HTML of a form control, and if so, can you add the `maxlength` attribute to the `textarea`? It should look probably something like this:

`<textarea id="appPage:appForm:whyJoin" name="appPage:appForm:whyJoin" title="Why do you want to join the United States Digital Service?" type="text"></textarea>`

Then change it to:

`<textarea id="app

[2017-07-20 16:22] sarahsaltiel commented on #337
@nacin yes - and unfortunately a lot of folks don't know they did it wrong. They just submit an app and don't receive a confirmation or have the application go anywhere.

[2017-07-27 13:19] jas298 commented on #330
To update--Dylan and I both do not see an errors on the backend. I do think this is due to people going over 500 characters and not seeing the error message. Tackling those two issues at:

- character limit: #337 (related, #224)
- error page styling: #299

[2017-07-27 13:19] jas298 commented on #337
@nacin @nacingov Salesforce is giving me an error saying that "maxlength" is an unsupported attribute, so I did a little Googling and discovered... https://success.salesforce.com/ideaView?id=087300000007SBuAAM. As far as I can tell, this feature has not been implemented, and there is no way to restrict length in visualforce (the language this is written in) until the person hits "submit" (see also

[2017-07-27 13:21] jas298 commented on #299
@jaredcunha-usds any chance you can take a look at this again this week? We are having reports of people not being able to submit applications and our strongest hypothesis right now is that they are triggering an error but not seeing it because of these issues.

[2017-07-27 14:08] jaredcunha-usds commented on #299
@jas298 The suggestion I have above still stands regarding the styling, so I think that would need to be addressed. There is error messaging at the bottom of the page of the page, but that is easy to miss. We can add `required` attributes to any of the required fields so at least the browser can run validations and prevent the form from submitting. That would be the simplest, easiest fix. However,

[2017-07-30 18:45] jas298 commented on #299
@jaredcunha-usds Awesome. Can we meet sometime this week for you to take a look in Salesforce under my account? How about 3 PM EDT on Tuesday (before staff meeting)? Just sent you a calendar invitation!

[2017-08-01 23:25] jaredcunha-usds commented on #299
@jas298 This should be resolved now. Can you verify?

[2017-08-08 17:45] rdinion opened #345 "Lost payment in VISA APPLICATION PAYMENT SYSTEM"

[2017-08-08 17:56] rdinion opened #346 "VISA APPLICATION ACCOUNT PAGE"
https://cgifederal.secure.force.com/updatedata
When navigating through the series of pages on this page the user should not constantly have to go through each page to get to step they need to enter data on or perform.
The bread crumbs along the top should show for any step the user has already performed and there is data in the database to populate the page.

[2017-08-08 22:00] jas298 commented on #345
@rdinion The State Department runs the visa application payment system. This is not the right place for support; please contact your local consulate. The consulate in Minsk has a website at https://by.usembassy.gov/ and their email address is consularminsk@state.gov.

[2017-08-08 22:00] #345 closed, assigned to nobody

[2017-08-08 22:02] jas298 commented on #346
@rdinion The State Department runs the visa application payment system. This is not the right place for support; please contact your local consulate. The consulate in Minsk has a website at https://by.usembassy.gov/ and their email address is consularminsk@state.gov.

[2017-08-08 22:02] #346 closed, assigned to nobody

[2017-08-09 15:37] jas298 commented on #299
These issues are resolved.

[2017-08-09 15:37] #299 closed, assigned to jaredcunha-usds

[2017-10-19 03:24] MCNM opened #359 "Internship Program"
Why do you have an Internship button and you don't have an Internship program?

[2017-10-19 12:54] jas298 commented on #359
Hi @MCNM! We get a lot of questions about internships with USDS, so we added that section to the website. Sorry if it was confusing!

[2017-10-19 12:54] #359 closed, assigned to nobody

[2017-11-02 20:18] RWinDC opened #363 "Where is the "Contribute idea/s on what USDS should make more available to the public"?"
Currently, the US Department of Agriculture, National Science Foundation, DoD, et al., spend federal dollars on research: where is there a DIGITAL repository of proposal abstracts and reports submitted by the principal investigators on their results?  E.g., I was interested in the Analog Forestry underlying a USAID/USDA project yet the proposal was only available (to read but not retain) in hard c

[2017-11-13 17:06] VisibleThread opened #365 "content readability"
Hi Matt, I ran a scan of the site for readability.  We have helped other government agencies improve the content of their site.  Can we arrange a time to chat?
![usds site](https://user-images.githubusercontent.com/33633573/32738444-f5562c8e-c86a-11e7-9f9b-5ce714d51bda.JPG)
-

[2017-12-19 23:24] nadiay123 opened #366 "Updating Leaving USDS pop-up when clicking into a blog link"
@nacingov can we update the banner that comes up when you click into the blogs and it takes you to medium.
It says we are hiring UX Designers, but we should update that to be engineers
(Also let me know if someone else should be running with this - I'm starting with you!)

[2017-12-19 23:31] nadiay123 commented on #366
Update: my screenshot won't load 😿

[2018-01-22 20:41] Eric7084 opened #368 "Security Cooperation Information Portal"
USDS,
I am a military member who works for a US Embassy coordinating Foreign Military Sales projects for the partner nation.  The United States contributes millions of dollars each year to the particular country I work in and to many other countries throughout the world.  All of our projects are managed on a website called the Security Cooperation Information Portal (SCIP).  This website could use

[2018-02-08 06:03] jrpool opened #371 "Set resize="none" on [Join Us] textarea"
Cf. issue #224, but this is a different issue. If the textarea is near the bottom of the window and the user enlarges it vertically to make all of its multiline content simultaneously visible, the user may be unaware that by enlarging the textarea he or she is moving the bottom of the iframe form beyond the bottom edge of the fixed-size iframe. When the user scrolls the page in the window to finis

[2018-03-19 18:15] ktarbet opened #373 "broken email address?"
Steps to reproduce:
Send an email to the address: usds@omb.eop.gov as listed in https://www.usds.gov/join

Result:
in a few days a  "Delivery Status Notification (Failure)" response comes back via email.

[code]

Expected Result:
Either nothing or preferably a human reply.

[2018-03-19 18:55] jaredcunha-usds commented on #371
I've verified this issue on my end. If the user drags the handle below the iframe boundary, it is impossible to recover and the user will need to start over.

![screen recording 2018-03-19 at 02 46 pm](https://user-images.githubusercontent.com/25435289/37616070-2dc92b84-2b85-11e8-803b-277645b81404.gif)

I don't have access to the iframe. @nacingov, do you know who does? Applying a `max-height` to

[2018-07-02 17:33] ctrimm commented on #366
There is also an issue with external hyperlinks in the modal that utilize `_` underscores instead of `-` dashes. See screenshot below.

I'll take a stab at this sometime this week. Expect a PR before the end of the week.

<img width="882" alt="screen shot 2018-07-02 at 11 29 13 am" src="https://user-images.githubusercontent.com/1751160/42177861-8ad079c8-7deb-11e8-84d4-4b7c920fa221.png">

[2018-09-04 19:49] sobopla opened #378 "No submit button on chrome"
After filling out the form, there is not an option to submit the form on Chrome Browser, Mac OS.

[2018-09-04 19:53] sobopla commented on #378
![screenshot 2018-09-04 14 53 01](https://user-images.githubusercontent.com/19863639/45054360-52566280-b052-11e8-93ba-0b9fbc9abee8.png)

[2018-09-06 17:28] marklerner opened #379 "Change references of "Web Design Standards" to "Web Design System""
URL and name have changed. Links aren't broken, they get redirected, but it'd be good cleanup.

[2018-11-06 07:43] tarunsinghgog opened #382 "Favi Icon"
I think faviicon is more important for any website these day and it should be sophisticated as well. What you say guys. Its my personal observation.

[2018-11-06 07:45] tarunsinghgog commented on #382
I was working on an website [Newspaper Ad Agency in Delhi](http://www.getmeupadvertising.in/). I found very interesting favicon icon.

[2019-02-26 03:23] neilmartis opened #385 "Instructions for Rookies link broken on the ReadMe.md"
The rookies hyperlink for "Instructions for rookies learning how to edit the website can be found here." is broken. File name - website-instructions.md file is missing

[2019-02-27 04:48] wslack opened #391 "Permalinks have .html - why?"
# Generic Issue

Why are the permalinks with an .html at the end? The URLs are cleaner without those

Example .md file with the .html permalink: https://github.com/usds/website/blob/master/_projects/0100_medicare-payment-program.md

Compare:
- https://www.usds.gov/projects/medicare-payment-program.html
 - https://www.usds.gov/projects/medicare-payment-program

[2019-02-27 14:28] jaredcunha-usds commented on #391
Oh, that's a really good point!

[2019-02-27 14:38] jaredcunha-usds commented on #379
Hey Mark - I think this should be addressed now with the redesign.

[2019-02-27 14:38] #379 closed, assigned to nobody

[2019-02-27 14:40] jaredcunha-usds commented on #378
Hi Catherine - This was likely addressed a while back but we never closed the issue. We'll have a new form coming out that should prevent the button from being cut off by the iframe's height in the future.

[2019-02-27 14:40] #378 closed, assigned to nobody

[2019-02-27 14:42] jaredcunha-usds commented on #371
We have a new form that be available soon where this issue has been addressed.

[2019-02-27 14:42] #371 closed, assigned to nobody

[2019-02-27 14:43] #321 closed, assigned to sarahsaltiel

[2019-02-27 14:44] jaredcunha-usds commented on #224
We have a new form that will be available soon that addresses this issue. Thanks for raising! Would have been overlooked otherwise!

[2019-02-27 14:44] #224 closed, assigned to nobody

[2019-02-27 14:44] #325 closed, assigned to sarahsaltiel

[2019-02-27 14:45] #142 closed, assigned to nacingov

[2019-02-27 14:46] jaredcunha-usds commented on #337
Addressed now in new form that will be posted soon. The number shows characters remaining and counts down as user types.

[2019-02-27 14:46] #337 closed, assigned to nobody

[2019-02-27 14:46] #391 closed, assigned to nobody

[2019-02-27 14:54] jaredcunha-usds commented on #385
@neilmartis - Were you referring to these links?

<img width="956" alt="screen shot 2019-02-27 at 9 52 04 am" src="https://user-images.githubusercontent.com/25435289/53498988-6dd87e00-3a75-11e9-98f4-1089bc7d93b6.png">

I just updated the README to fix those links. Please let me know if anything else was missed. We were did most of our development in another repository, so some of those links might

[2019-02-27 14:56] jaredcunha-usds commented on #366
We have launched a refresh of usds.gov. Luckily, these modals are no longer a thing!

[2019-02-27 14:56] #366 closed, assigned to nacingov

[2019-02-27 14:57] #300 closed, assigned to sarahsaltiel

[2019-02-27 14:57] #320 closed, assigned to nobody

[2019-02-27 14:58] #330 closed, assigned to nadiay123

[2019-02-27 16:19] ButtersUSDS opened #399 "Add Diversity & Inclusion PDF to the usds.gov footer"
# Site Update

- [x] I’ve searched for any related issues and avoided creating a duplicate issue.

## What would you like to do?

- [ ] Update an existing page/feature
- [ ] Add a new page
- [x] Add a document link to the footer

## How can we help?

Please link to our Diversity & Inclusion PDF in the USDS.gov footer

## Additional Context

[2019-02-27 16:21] ButtersUSDS commented on #399
[USDS_1Sheet_D&I_Feb2019.pdf](https://github.com/usds/website/files/2911212/USDS_1Sheet_D.I_Feb2019.pdf)

[2019-02-27 16:24] jaredcunha-usds commented on #399
@ButtersUSDS

Can you provide an image of how you would like the link to appear in the footer? Or at the very least, let me know where (ex. Under "Upcoming Events") and what the link text should say?

[2019-02-27 16:28] ButtersUSDS commented on #399
@jaredcunha Yes, oops!

![image](https://user-images.githubusercontent.com/32076293/53505888-cfebb000-3a82-11e9-904e-46e563e33725.png)

[2019-02-27 16:30] ButtersUSDS commented on #399
<img width="1024" alt="footer" src="https://user-images.githubusercontent.com/32076293/53506003-117c5b00-3a83-11e9-8bdf-e30b23befb36.png">

[2019-02-27 16:39] ButtersUSDS opened #401 "Update Press 1-Sheet for the Footer link "USDS Press Kit""
# Site Update

- [x] I’ve searched for any related issues and avoided creating a duplicate issue.

## What would you like to do?

- [x] Update an existing page/feature
- [ ] Add a new page

## How can we help?

Update the Press Sheet PDF with this file:
[USDS-Press-Sheet.pdf](https://github.com/usds/website/files/2911315/USDS-Press-Sheet.pdf)
This is linked to in 2 places: the footer and the "News

[2019-02-27 17:03] ButtersUSDS opened #403 "Add USDS Shield Favicon to the site"
# Site Update

- [x] I’ve searched for any related issues and avoided creating a duplicate issue.

## What would you like to do?

- [ ] Update an existing page/feature
- [x] Add a new image

## How can we help?
Jared, if you upload this image
![usds favicon](https://user-images.githubusercontent.com/32076293/53508331-8782c100-3a87-11e9-88c6-ed36d497aaa2.png)
to this site https://www.favicon-genera

[2019-02-27 17:40] jaredcunha-usds commented on #399
Added

[2019-02-27 17:40] #399 closed, assigned to jaredcunha-usds

[2019-02-27 19:35] jaredcunha-usds commented on #401
Merged: https://github.com/usds/website/pull/408

[2019-02-27 19:35] #401 closed, assigned to jaredcunha-usds

[2019-02-27 19:54] #403 closed, assigned to jaredcunha-usds

[2019-02-27 19:54] jaredcunha-usds commented on #382
A favicon has been added.

[2019-02-27 19:54] #382 closed, assigned to nobody

[2019-02-27 21:53] jaredcunha-usds opened #410 "Create a page that lists all articles with USDS in the news"
# Site Update
- [x] I’ve searched for any related issues and avoided creating a duplicate issue.

## What would you like to do?
- [x] Update an existing page/feature
- [x] Add a new page

## Idea

We might want to have a page that archives all press articles with USDS in the news. Right now, the homepage and the News & Blog page contain the set of news articles, capped at 9. Do we want to have a p

[2019-02-28 01:23] neilmartis commented on #385
@jaredcunha-usds  Hi Jared actually I was referring to web contribution guidelines link which is there in the readme file so a newbie can contribute to the codebase. This hyperlink was in the readme in the old website readme

[2019-02-28 02:02] jaredcunha-usds commented on #385
Oh, okay. I'm going to rewriting much of that content that explains how to edit, so that page is not going to be very relevant right now.

[2019-02-28 03:39] neilmartis commented on #385
Thanks @jaredcunha-usds Quick Q is the site built using usds-jekyll gem based on the web design standard??

[2019-02-28 14:45] jaredcunha-usds commented on #385
Did you meant the USWDS-jekyll gem? It is not using the gem. The site built with USWDS 2.0, which did not appear to be updated in the gem.

Would you be okay if I close this issue?

[2019-03-01 15:25] jaredcunha-usds commented on #365
Thank you for the feedback!

[2019-03-01 15:25] #365 closed, assigned to nobody

[2019-03-01 15:26] jaredcunha-usds commented on #368
Thank you for the feedback! Unfortunately, we will not be hosting our content in multiple languages at this time.

[2019-03-01 15:26] #368 closed, assigned to nobody

[2019-03-01 17:08] jaredcunha-usds commented on #373
Hi, I believe this issue is resolved. Closing.

[2019-03-01 17:08] #373 closed, assigned to nobody

[2019-03-01 17:09] jaredcunha-usds commented on #363
Thank you for the feedback!

[2019-03-01 17:09] #363 closed, assigned to nobody

[2019-03-07 22:10] #385 closed, assigned to nobody

[2019-04-22 14:13] ButtersUSDS opened #441 "Remove animation on cards for mobile breakpoint"
On mobile breakpoint, the carousel card hover state animation (enlargement of card)  does not work well. Please remove this animation.

Use standard USWDS mobile breakpoint.

[2019-04-22 14:19] jaredcunha-usds opened #442 "Explore getting a staging environment"
Explore setting up a staging environment for usds.gov. It would be nice to get staging.usds.gov so content editors can preview what updates will look like on the website to ensure quality and correct mistakes.

**How it could work**
- Commits to `master` are deployed to staging.usds.gov automatically.
- USDS.gov prod builds every 24 hours

**Questions**
- What can we use for deployment scripts?
-

[2019-04-22 14:24] jaredcunha-usds opened #443 "Add website admins"
Need to find more folks to help with general upkeep of usds.gov.

Possibly look into:
- Content contributers
- Reviewers
- Devs
- Design

[2019-04-22 14:29] jaredcunha-usds opened #444 "Update job roles (How We Work) content with bullet points"
For the COP section, reduce the amount of text on the page. Perhaps a paragraph + some bullet points. Should make room for procurement content.

[2019-04-22 14:38] jaredcunha-usds opened #447 "Update project and people carousels"
There are lots of items in a carousel. Try to limit to 3 or 4 pages and add a VIEW ALL as a last card. This applies to both people and projects.

The VIEW ALL card needs visual design.

-----

**Overall**
- [x] Limit number of cards on carousels. 6 for projects (there are 7 projects, it'd leave an awkward, mostly empty group with 9). 9 for profiles (shows a decent number without getting out of con

[2019-04-22 14:41] jaredcunha-usds opened #448 "Use quotations for all name/headings in yaml"
Place any content in quotations so content writers can use colons or any other characters that tend to throw yml errors and prevent the site from building.

The wiki examples need to be updated as well.

[2019-04-22 15:06] ButtersUSDS opened #450 "Design an Agency Team Page Template"
### Problem
As shown in the [Usability Test Report](https://github.com/usds/ux/blob/master/projects/USDS%20website%202019/USDS.gov%20Usability%20Test%20Report%20FINAL.pdf), users are confused about the relationship between USDS and agencies.

### Requirements
- Design should be templated, such that content is analogous across agency pages (or page sections)
- The content should emphasize the work

[2019-04-22 16:58] jaredcunha-usds commented on #441
This is done.

[2019-04-22 16:58] #441 closed, assigned to jaredcunha-usds

[2019-04-22 19:26] #448 closed, assigned to jaredcunha-usds

[2019-05-08 20:09] LauraUSDS opened #457 "Fix hyperlink color for news article links"
# Bug Report
- [x] I’ve searched for any related issues and avoided creating a duplicate issue.

## What happened
Hyperlinks for our news/press articles are showing bright blue instead of USDS blue. It's happening on both the homepage and on the press page.
<img width="1087" alt="hyperlink-screenshot" src="https://user-images.githubusercontent.com/41635635/57405023-676c2e00-71ab-11e9-8738-b16b6b71

[2019-05-09 20:21] jaredcunha-usds commented on #457
Fixed: https://github.com/usds/website/pull/458

[2019-05-09 20:21] #457 closed, assigned to jaredcunha-usds

[2019-06-07 19:13] jaredcunha-usds opened #464 "Old Instagram API deprecated. Find replacement."
Instagram accelerated deprecation of their API, so we can no longer use the script we were using to pull images from our instagram feed.

Instagram is now using the [Instagram Graph API](https://developers.facebook.com/docs/instagram-api), so we will have to use that.

@dmethvin-gov Any chance you want to look into this if you have time?

[2019-06-09 20:46] dmethvin-gov commented on #464
What does the timeline look like for this? It would be fun to investigate but it may be a week or two.

[2019-06-10 13:24] jaredcunha-usds commented on #464
I don't think the world is going end if it takes us some time.

[2019-06-13 13:16] dmethvin-gov commented on #464
@jaredcunha Looking at this today, I'll leave notes here.

Our current IG setup is in [instagram.js](https://github.com/usds/website/blob/c26b80900fe8ec37c6c790709f7f5b081d7e727a/assets/js/site/instagram.js) and looks to have been built with someone's personal account number. The new API doesn't allow that.

The Instagram Graph API requires an [Instagram Business Account](https://help.instagram.co

[2019-06-27 14:10] dmethvin-gov commented on #464
Facebook hasn't answered us yet to "approve" our "app". There's no particular reason that we should need their permission to display our own Instagram photos so I've gone back to good old screen scraping. There's a JSON payload in the HTML page that has everything we need.

[2019-06-27 17:26] #464 closed, assigned to dmethvin-gov

[2019-12-30 15:35] drew-usds opened #481 "Remove extra space from bottom of /apply"
Looks like there's a ton of extra space below the submit for the /apply form.

![localhost_4000_apply](https://user-images.githubusercontent.com/57154955/71588626-2c2ebe80-2af0-11ea-9df0-dde445737eb7.png)

The iframe from Salesforce is set at 3600px high on the layout ...

[code]

Todo ->

- [ ] Determine the height of the content in the iframe
- [ ] Set the iframe height to that value
- [ ] Make

[2019-12-30 20:35] drew-usds opened #482 "Edit cop/job select options on apply page"
Edit dropdown list on apply page -- Laura needs to check w/ Andréa first, though.

This needs to be edited in Salesforce, the `/apply` page pulls in the form through an iframe.

 **Add**
- [x] Content strategy

**Delete**
- [x] Visual design
- [x] Product design

[2019-12-30 22:03] drew-usds opened #483 "Add new press hits to project pages"

[2019-12-30 22:14] drew-usds opened #484 "Update .usa-button with brand/primary colors"

[2020-01-04 00:03] drew-usds opened #486 "Update USWDS to 2.4.0"
- [x] update via npm [per readme instructions](https://github.com/usds/website#update-usds-and-get-new-functions-and-tokens-for-use-in-usdsgov-project-files)
- [x] update theme scss manually

[2020-01-08 18:21] drew-usds opened #487 "Remove /events page"
Per 20200108 meeting, we're going to take down the `/events` page for the time being as we need to create a better plan for keeping this content fresh (or determine if we still need it at all).

- [x] Redirect `/events` to `/news-and-blog` (uses [jekyll-redirect-from](https://github.com/jekyll/jekyll-redirect-from))
- [x] Unpublish `/events` page
- [x] Remove link from footer

[2020-01-14 19:48] drew-usds commented on #442
**[Federalist](https://federalist.18f.gov/)**

**[Cloud.gov](https://cloud.gov)**
Set up a sandbox account to watch a `staging` branch? Is there a general USDS account so it's not locked to an individual?

**[Netlify](https://www.netlify.com/) ([Netlify docs](https://docs.netlify.com/configure-builds/repo-permissions-linking/#git-provider-permissions) | [Setup example](https://eduardoboucas.com/bl

[2020-01-15 19:06] drew-usds commented on #447
Current work is in 🌿`carousel-update`.

[2020-01-15 21:00] LauraUSDS commented on #482
@AndreaViza Do you see any issues with changing the items in the "primary field of expertise" dropdown in our usds application, per the above? Who should we talk to about making that change (@LisaHwang)?

[2020-01-15 21:05] LauraUSDS opened #490 "Change Instagram feed at footer"
- [ ] talk to Bryan/Cyrus:
- goal: prevent color clashing w/ footer
- goal: weed out event promo graphics
- solution: make static images?
- solution: use custom hashtag for specific posts?

- [ ] make changes to website

[2020-01-15 21:06] AndreaViza commented on #482
We could do that but @LisaHwang this would affect how things flow into SF correct?
That being said, we shouldn't make any changes until the migration happens.

[2020-01-15 21:12] LisaHwang commented on #482
We will need to wait until after the migration but the changes are doable. I think there has been some conversation in the past about changing the buckets - we should include someone on the talent team as well to ensure that the buckets make sense. Just note that this will change up metrics for everyone. Pulling reports for past folks will need to know the past and current buckets, might be a nigh

[2020-01-15 21:16] LauraUSDS commented on #482
Ok, good to know @LisaHwang and makes total sense. @K-Jurick @bernars-usa Are these changes still worth making (editing the field of expertise options for designers)?

[2020-01-15 21:24] LisaHwang commented on #482
Actually taking a closer look, this is doable. What a candidate "self-selects" matters less because someone on the talent team moves them to an internal bucket which metrics is based off of. So we're good. I would just need to route it. Outside of that, we would need to coordinate how we want the application buckets to be routed to our internal buckets. i.e Cyber security will get routed to engine

[2020-01-15 22:20] K-Jurick commented on #482
"Product Design" is super confusing as a term for us. I for one would still like these changes to be made.

[2020-01-16 00:18] drew-usds commented on #486
Closed in #485

[2020-01-16 00:18] #486 closed, assigned to drew-usds

[2020-01-16 00:18] drew-usds commented on #487
Closed in #485

[2020-01-16 00:18] #487 closed, assigned to drew-usds

[2020-01-16 00:19] drew-usds commented on #484
Closed in #485

[2020-01-16 00:19] #484 closed, assigned to drew-usds

[2020-01-16 18:39] drew-usds opened #491 "Suppress USWDS color token errors"
#485 updated UWDS to 2.4.0 and moved our color variables into non-uswds, brand-specific colors. 2.4.0 allows this now, where presently it only let you use specific color tokens.

Presently, building the site locally spits out the below error per overridden color token:

[code]

[USWDS claims you can suppress the errors](https://github.com/uswds/uswds/pull/3268), but I wasn't able to get it to work

[2020-01-16 21:35] drew-usds opened #492 "Randomize order of people carousel"
Explore creating random order for staff in the people carousel. Lots of focus is on the first folks that show up, test this to see if we can get more views on other staff.

**Thoughts:**

- Jekyll is static ... we can make it random but it'll be randomized only when the site builds. This could be fine as it would be a random/different order in each place the carousel shows up.
- Use javascript

[2020-01-17 17:12] drew-usds opened #493 "Digital services playbook: update branding"
- [x] Update logo
- [x] Update brand colors if/where possible

[2020-01-17 17:19] drew-usds commented on #492
Closing duplicate. Will just use random order on build for now, moved back into #447 .

[2020-01-17 17:19] #492 closed, assigned to nobody

[2020-01-27 16:58] melissajschaff opened #495 "Update branding"
- [x] update asset/banner colors to new branding guidelines
- [x] update asset/graphic colors to new branding guidelines
     - for values, see value posters for color matching (https://github.com/usds/branding/tree/master/Posters/USDS%20Values)

https://github.com/usds/website/tree/master/assets/img

[2020-01-28 17:43] LauraUSDS opened #496 "Add 2020 Impact Report to website"
Julia, Laura, and Jay are developing a ~~Report to Congress~~ Impact Report (informal) to showcase USDS projects + impact. ~~It should be ready late Feb / early March.~~ It will be ~~both a printed hardcopy and~~ a shareable digital PDF.

We'll need to add a line for 'Impact Report' in the footer: under 'resources, as the second item (below the D&I report). That's where the PDF will live.

Check o

[2020-02-04 18:06] melissajschaff opened #498 "Playbook: Add USDS.gov analytics tag"
It would seem that playbook.cio.gov is no longer collecting analytics on GA. Let's add it to USDS's GA account and start capturing info there. There are 2 options: we can 1) add the same tag as USDS.gov or 2) (preferred) create a new property and give it its own UA tag on USDS.gov's analytics account. Either way, it should should have some tracking on it, since it fell off the cliff in Nov 2018...

[2020-02-13 19:32] drew-usds commented on #447
Closed in #497

[2020-02-13 19:32] #447 closed, assigned to drew-usds

[2020-02-18 16:16] drew-usds opened #500 "Update USWDS to 2.6.0"
Nice things in ~~2.5.0~~ 2.6.0!

https://github.com/uswds/uswds/releases/tag/v2.5.0

[2020-02-25 18:59] drew-usds opened #503 "Update Nokogiri (+ other gems too)"
GitHub just sent a security alert for Nokogiri.

- [x] Update ☝️
- [x] Update other gems because 🤷‍♂whynot!?

[2020-02-25 19:00] drew-usds commented on #503
Closed in PR #502

[2020-02-25 19:00] #503 closed, assigned to drew-usds

[2020-02-25 19:03] drew-usds opened #504 "Responsive audit"
Some elements of the site might need some responsive help. Investigate what should get iterated on.

[2020-02-26 21:23] drew-usds commented on #498
@melissajschaff option 2 sounds good! I've got a few commits going into a Playbook PR this week and can roll this into it. Can you create the new property/UA tag and copy/paste the JS in here?

[2020-02-26 21:37] melissajschaff commented on #498
this should be what you need....you should also have rights to view this in the GA admin panel

Tracking ID: `UA-132706295-2`
Global Site Tag (gtag.js):
[code]

[2020-02-27 16:16] drew-usds opened #505 "Playbook: security updates for ruby version and gems"
GitHub has flagged a few security vulnerabilities with gems.

- [x] update gems
- [x] bump ruby to 2.6.5 while we're at it

[2020-02-27 16:28] drew-usds commented on #498
@melissajschaff Looks like there's already some _older_ GA stuff here with DAP ...

Does our own GA account supersede the DAP one, or does the existing one feed into other reporting I don't know about? I don't think you're supposed to have both old and new tracking going at the same time on principle, but they should theoretically work side-by-side.

👆Edit: Duh, in your description you mention tha

[2020-02-27 16:41] drew-usds opened #506 "TechFAR Hub: update USDS branding in footer"
- [ ] Update old logo in the footer.

<img width="1258" alt="Screen Shot 2020-02-27 at 11 38 45 AM" src="https://user-images.githubusercontent.com/57154955/75465067-1bff5800-5956-11ea-80d7-846514742e19.png">

[2020-02-27 16:48] drew-usds commented on #493
- [x] Add USDS color variables
- [x] Update background colors on the intro sections
- [x] Update sticky nav colors

[code]

[2020-02-27 17:03] melissajschaff commented on #498
1. our GA account is newer than and independent from the DAP account. They do not feed into the same reporting view and probably never will, unless _we_ make that call.
2. I tried to find recent traffic for playbook.cio.gov in DAP's reporting view (the Federal-wide analytics account, which I believe you also have access to) and while I did find it, traffic ends 2/2018 and it's unclear why. There i

[2020-02-27 17:03] drew-usds opened #507 "Playbook: check in on updated GA"
Playbook GA was updated in [website/498](https://github.com/usds/website/issues/498). Check out how the new script is working by ~3/9/20.

See #498 for background.

[2020-02-27 17:30] drew-usds commented on #505
Closed in [playbook/231](https://github.com/usds/playbook/pull/231).

[2020-02-27 17:30] #505 closed, assigned to drew-usds

[2020-02-27 17:31] drew-usds commented on #498
Closed in [playbook/231](https://github.com/usds/playbook/pull/231).

[2020-02-27 17:31] #498 closed, assigned to melissajschaff, drew-usds

[2020-02-27 17:33] drew-usds commented on #493
Closed in [playbook/231](https://github.com/usds/playbook/pull/231).

[2020-02-27 17:33] #493 closed, assigned to nobody

[2020-03-02 19:25] LauraUSDS opened #509 "Update D&I PDF file"
Replace old Diversity & Inclusion report (Nov 2019) with new report (March 2020).

Needs to be live by March 9th.

I believe the file lives here: https://github.com/usds/website/tree/master/assets/files

[2020-03-02 19:28] LauraUSDS commented on #509
@drew-usds I should be able to replace the existing file in the GH folder I mention above and that will update the PDF, right? Unless I'm missing something (always a possiblity).

Also...can you tell if the recruiting 1-sheet in that folder is actually linked to anywhere on the website? If so, it's old and I'd like to replace it too (we can re-name with something more generic, like the d&i report,

[2020-03-02 21:01] drew-usds commented on #509
@LauraUSDS yes, if you replace the existing file with a new thing with the exact same file name, it will update.

I did a search for the recruiting one sheet filename and don't see it linked to from anywhere on the website, so if it's out of date we can remove it (I can't speak for anywhere _else_ on the interwebs it may have been linked from though).

[2020-03-05 21:42] drew-usds commented on #442
HUGE kudos to @peterwaterman and @lisac-usds! We tested the following at the hackathon:

- Sandbox environment using cloud.gov -- can be used for setting up/sharing larger feature changes that may not be close enough to release for a PR.
- Netlify GitHub add-on -- automates builds per pull request. Can give .md/content editors an option for preview/review without having a full dev environment on t

[2020-03-06 15:49] pete-gov commented on #442
Branch created with staticfile and build manifest. https://github.com/usds/website/tree/cloud.gov

[2020-03-06 19:49] #442 closed, assigned to lisac-usds, pete-gov, drew-usds

[2020-03-06 19:49] lisac-usds commented on #442
possible instructions for linking staging.usds.gov to netlify: [Configure external DNS](https://docs.netlify.com/domains-https/custom-domains/configure-external-dns/)

[2020-03-06 20:00] drew-usds commented on #442
Closed in #510

[2020-03-09 17:18] drew-usds opened #514 "Update meta imgs & favicons with current logo"
- `/assets/img/favicons` has social/meta images with out of date logo.
- Update logo referenced in `_head` ln 36 & in `config.yml`

[2020-03-10 21:02] melissajschaff commented on #495
see #515

[2020-03-11 17:10] LauraUSDS opened #516 "Update press sheet"
Is currently the 2019 congressional one-sheet. Make a slightly-tweaked version of the recruiting one-sheet (see details on https://github.com/usds/usds/issues/4956).

Will need to update wording from "press kit" to "press sheet." This applies to the 'news&blog' page, the footer...where else?

Timing: as able.

[2020-03-11 17:13] LauraUSDS opened #517 "fix capitalization of headers on privacy page"
Headers should be Sentence case (not Title Case)
https://www.usds.gov/privacy

[2020-03-11 17:34] LauraUSDS commented on #509
Done. Editable files are in the branding repo (for future reference): https://github.com/usds/branding/tree/master/One-Sheets/USDS_Diversity%2BInclusion/2020-03%20Diversity-and-Inclusion

[2020-03-11 17:34] #509 closed, assigned to LauraUSDS, drew-usds

[2020-03-13 20:11] LauraUSDS opened #519 "change values description"
Edit text for the description of our "Go where the work is" value to:

It appears on this page: https://www.usds.gov/mission

[2020-03-13 20:13] LauraUSDS commented on #519
@juliacmoore Added you as an assignee just for FYI (and bc you are keeping tabs on the content development for R2C). @drew-usds can you help us change this language when you have a min?

[2020-03-14 00:11] drew-usds commented on #517
Also found/fixed other sentence case issues in headers on the following:

- [x] Navigation
- [x] Footer
- [x] Events (it's redirected currently, but still)
- [x] FAQ
- [x] News & blog
- [x] Our mission
- [x] Contact us
- [x] How we work
- [x] Mission
- [x] People
- [x] Projects

[2020-03-14 00:21] drew-usds commented on #517
Rolling this into [PR 515](https://github.com/usds/website/pull/515).

[2020-03-14 00:23] drew-usds commented on #519
Updated and am rolling this into [PR 515](https://github.com/usds/website/pull/515).

[2020-04-06 21:27] drew-usds opened #524 "/Apply form updates"
[From Slack 4/6/20 w/Tali, Michael, Andrea, Ange](https://usds.slack.com/archives/CD7AT8PGB/p1586198914177600):

- [x] Forms are on Salesforce, website folks need accounts
- [x] Add options/language to form along the lines of "please let us know if you require accommodations or have special needs"
- [x] Add derived preference language to `veteran` option

[From 6.03.20 request in #infra-website Sl

[2020-05-01 22:13] LauraUSDS commented on #496
@drew-usds We are getting close to having this doc ready! Wanted to give you a heads-up so you can leisurely squeeze this in over the next couple of weeks (also, FYI, we have no specific deadline in mind other than just wanting to check this as 'completed' so no stress/rush).

[2020-05-02 01:25] #517 closed, assigned to LauraUSDS, drew-usds

[2020-05-02 01:25] #519 closed, assigned to LauraUSDS, juliacmoore, drew-usds

[2020-05-02 01:25] #495 closed, assigned to melissajschaff, drew-usds

[2020-05-02 01:25] #500 closed, assigned to drew-usds

[2020-05-02 01:25] #514 closed, assigned to nobody

[2020-05-07 20:34] LauraUSDS commented on #516
@drew-usds When you have a moment (~10 min), I'd love your help with this!

I've got the new press sheet ready to go; GH won't let me upload files here or to the website repo, but I did mange to [get it into the branding repo](https://github.com/usds/branding/blob/master/One-Sheets/1_USDS/2020-03-Press-1-Sheet/USDS-Press-Sheet.pdf) by sheer brute force.

It has the same name as the existing press

[2020-05-07 20:36] LauraUSDS opened #526 "Resolve security alerts in uswds-jekyll"
There are two open security alerts that need to be addressed: https://github.com/usds/uswds-jekyll/network/alerts.

Drew, I'm hoping this is an easy fix on your end?

[2020-05-11 17:28] LauraUSDS commented on #516
Update: was able to upload the file; the pull request just needs a review (https://github.com/usds/website/pull/527)

[2020-05-19 17:16] drew-usds commented on #526
@LauraUSDS good eye on this, I honestly didn't even know this repo existed.

Updated it and fixed the security alerts!

[2020-05-19 17:16] #526 closed, assigned to LauraUSDS, drew-usds

[2020-05-19 17:22] LauraUSDS commented on #526
Oh, huh. I only noticed bc I got email notifications for the security alerts.... @drew-usds

[2020-06-04 13:44] mriverasl3 commented on #524
No one on our team can currently make the change through Salesforce. Apparently, USDS can grant full Salesforce access to folks to make changes (David Holmes was the last person to make changes in there), but I don't know myself how to do that.

[2020-06-04 21:00] lisac-usds commented on #524
I'm really curious about the last two (make uploading a resume mandatory, and look into why the number of spam apps has gone up recently) - planning to take a look tonight.

update (6/5): i didn't get very far, will spend more time over the coming week.

[2020-06-07 22:44] drew-usds commented on #516
Fixed in #531

[2020-06-07 22:44] #516 closed, assigned to LauraUSDS, drew-usds

[2020-06-11 20:48] LauraUSDS opened #532 "Update media hits"
Replace three existing stories with three new ones.
Media hits appear in two places on our website: the homepage and News & Blog.
All logos to be saved in https://github.com/usds/website/tree/master/images
Stakeholders: Bryan Lam, Cyrus Sethna

Replace the WIRED piece with CBS This Morning:
- Text for title: This little-known program has played a central role in the U.S. government's coronavirus r

[2020-06-13 12:25] lisac-usds commented on #482
@bernars-usa @K-Jurick @LauraUSDS, with your input, I applied some changes. Would you please let me know whether there's further work needed on this issue?

Added:
- Content Design/UX Writing
- Content Strategy

Removed:
- Product Design
- Visual Design

snapshot of usds.gov/apply:
<img src="https://user-images.githubusercontent.com/31673962/84568605-88a83200-ad4e-11ea-8e97-e921941accb3.png" width

[2020-06-14 16:33] bernars-usa commented on #482
I like it! Thanks, Lisa! 😍

[2020-06-15 13:35] K-Jurick commented on #482
I'd add "**user research**" since much like content it is a specialty we always seem to need and I know I was hesitant when I first started talking to USDS recruiting because they kept calling me a "designer" which is our blanket term, but not industry's...I'd also personally keep **visual design** in the mix as we say we don't need it and yet always keep those folks extremely busy - having some b

[2020-06-15 13:41] K-Jurick commented on #482
Who gets the front end candidates? Does this go to Design or Engineering? (this is a longstanding question as we start to see more and more "hybrids" and its harder to know how to evaluate them or where to put them, but the best ones are potentially more Jareds) I'm sure you have been debating this one already...the problem could be somewhat solved by allowing an applicant to pick up to 2 specialt

[2020-06-15 14:02] K-Jurick commented on #482
Also I realize that what I am saying here now, today, may contradict what I have said in the past. Time, distance and the human condition can all influence perspective is all I can say about that :)

[2020-06-15 21:07] #532 closed, assigned to LauraUSDS, drew-usds

[2020-06-16 04:55] lisac-usds commented on #482
updated to account for User Research and Visual Design.  snapshot of usds.gov/apply:
<img src="https://user-images.githubusercontent.com/31673962/84732980-0a74a700-af6b-11ea-9d14-a9ed09c79b88.png" width="350">

Nodding along to your comments about front end candidates, @K-Jurick. Will follow up in a side chat with this group.

[2020-06-18 19:14] LauraUSDS commented on #496
@drew-usds  Finally! We have final files for the report - they are saved in the [branding repo](https://github.com/usds/branding/tree/master/Documents%20and%20Reports/2020-06-Impact-Report) and also attaching the final PDF here. Please lmk when you might be able to get this live on the website :)
[USDS-Impact-Report-2020.pdf](https://github.com/usds/website/files/4800722/USDS-Impact-Report-2020.pd

[2020-06-19 18:14] #496 closed, assigned to lisac-usds, LauraUSDS, drew-usds

[2020-06-19 18:16] LauraUSDS commented on #496
TY @drew-usds !

[2020-06-19 20:31] LauraUSDS opened #538 "Fix quote in John Rahaghi profile preview"
The quote in John Rahaghi's profile preview is a dupe of Hank Knaack's quote
![image](https://user-images.githubusercontent.com/41635635/85177574-63ce2600-b24a-11ea-9f56-79d6ac6f8601.png)

The quote appears in Hank's profile, so must be his. Let's change John's preview to something in his profile. Maybe this?:

[2020-06-19 20:48] #538 closed, assigned to drew-usds

[2020-06-22 17:12] #482 closed, assigned to nobody

[2020-06-29 01:09] drew-usds commented on #507
Has been reporting a-ok for the last couple of months 👍

[2020-06-29 01:09] #507 closed, assigned to drew-usds

[2020-07-29 19:35] LauraUSDS opened #543 "Add EEO statement to website"
Use leadership-approved text (below). Add to:
- [x] bottom of /apply page
- [x] hiring FAQs: PR https://github.com/usds/website/pull/545

_Text_
U.S. Digital Service is proud to be an equal opportunity employer. We strongly encourage people of color, members of racial and ethnic minority groups, women, LGBTQI+ people, those with disabilities, and Veterans to apply. We build better products when ou

[2020-07-30 19:06] LauraUSDS commented on #543
@drew-usds @lisac-usds I was able to add our EEO statement to the FAQs section (https://github.com/usds/website/pull/545), but it looks more complicated to do it for the /apply page...I think it's editing [this file](https://github.com/usds/website/blob/staging/pages/form.html), but it's beyond my skillset!

[2020-07-30 19:41] #543 closed, assigned to LauraUSDS, drew-usds

[2020-08-05 15:10] drew-usds opened #548 "USWDS 2.8.0 breakpoint edits?"
Edit: this is maybe a Chrome bug? Site displays as normal on Safari.

~~Updates to USWDS have shifted the breakpoints slightly it seems. A 13" MBP with 2560x1600 display, even when the browser is in full screen, shows a tablet view with menu icon. Text sizes are getting bumped a lot too, causing some awkward spacing issues.~~

- [ ] ~~Check if/how breakpoints have changed on other devices~~
- [ ]

[2020-08-07 18:52] lisac-usds opened #549 "update Hiring FAQ"
Request to update content on the [Hiring FAQ](https://www.usds.gov/faq):
- **What is required to work from the U.S. Digital Service** suggests that 18F can hire non-citizens for some roles. Correction: they do not currently hire non-citizens.
- **What kind of salary might I make?** notes a range of less than $100,000 to around $160,000. Correction: the upper bound is around $170,000.

Verify chang

[2020-08-07 18:59] TaliKeren commented on #549
Change answer to Q1 from:

You need to complete a background check and drug test and be a U.S. citizen.

The background check start with either the SF-86 or SF-85P (sample here from the OPM website, a detailed questionnaire about your personal background and where you’ve lived. This includes drug use. Getting your background check cleared can take several weeks or longer.

For our positions you mu

[2020-08-07 19:01] TaliKeren commented on #549
For q2
change: The salary for digital service experts ranges from less than $100,000 to around $160,000.
to: The salary for digital service experts ranges from less than $100,000 to around $170,000.

[2020-08-07 19:02] lisac-usds commented on #549
thank you, Tali!

[2020-08-07 23:37] #549 closed, assigned to lisac-usds

[2020-08-10 19:28] LauraUSDS commented on #524
@lisac-usds @mriverasl3  How are we doing on resolving these small outstanding things for the apply form on our website?

[2020-08-10 19:29] LauraUSDS commented on #481
@lisac-usds This is another USDS website thing that could benefit from your eyes, since you have access to both the website and Salesforce...any ideas on how to fix?

[2020-08-10 23:36] lisac-usds commented on #481
some progress! I'm thinking this could be a 2-part fix, part 1 in #547; part 2 would be to remove the debug (`isTestingMode`) part of #547.  I'll circle back in a week.

[2020-08-10 23:58] lisac-usds commented on #524
I'm discouraged on figuring out this one:

It's true that the form will not accept a Last Name outside those bounds -
![image](https://user-images.githubusercontent.com/31673962/89842468-b38ee680-db43-11ea-9f37-46591f13fe2f.png)

But I haven't been able to track this down in the backend.

From my end, ok with closing this issue.

[2020-08-11 03:27] drew-usds commented on #481
@lisac-usds @laura-usds I did some YOLO-merge testing late tonight since the only way we can see this work is on the live site and I didn't want to interfere with someone actively applying ... and ... well ... Lisa's additions in #547 work! So ... this is live _now_.

**I turned off testing mode and it looks to be working across browsers/devices**.

Tested and working on:

- MacOS - Chrome, Safari

[2020-08-11 12:47] mriverasl3 commented on #524
@LauraUSDS - is this ask still doable? "Add options/language to form along the lines of "please let us know if you require accommodations or have special needs"

[2020-08-12 16:21] LauraUSDS commented on #524
@mriverasl3 Yes, should be. Can you confirm a) that's the exact phrasing y'all want and b) where exactly it should go on the apply form? Then I'll have @lisac-usds make the change (she's the only one w/ yaml knowledge + access to Salesforce!).

[2020-08-28 17:44] LauraUSDS commented on #524
@lisac-usds I think we're ready to wrap that last remaining item! When you have a chance:
- [x] lowercase 'e' in "Current employer"
- [x] right above the 'submit' button: (if possible) add a space between the check boxes and the texts
- [x] right above the 'submit' button: add period at the end of the first checkbox sentence
- [x] right above the 'submit' button: add an additional checkbox in the

[2020-08-28 17:48] pete-gov commented on #481
![Screenshot_20200828-134416](https://user-images.githubusercontent.com/51794651/91599931-11d60a80-e935-11ea-801d-e59527c7f46a.png)
![Screenshot_20200828-134443](https://user-images.githubusercontent.com/51794651/91599936-139fce00-e935-11ea-8725-584cc8693c3c.png)

Here's how it renders on my Google Pixel 3 (Android) in Chrome and Firefox Beta.

[2020-08-28 17:50] LauraUSDS commented on #481
@drew-usds I asked Pete to check it on his Android (see screenshots above), and I think it's a vast improvement. Closing this issue 🙌

[2020-08-28 17:50] #481 closed, assigned to lisac-usds, drew-usds

[2020-08-28 17:52] LauraUSDS commented on #524
@lisac-usds Is there a way to check all the questions are the same color text? Either my eyes are playing tricks on me or "where can we find you online?" is darker than the others...

(I am happy to do all this nitpicky checking, if you can point me to which file to review)

[2020-08-28 18:04] LauraUSDS commented on #524
@lisac-usds Apologies, I jumped the gun. Please use "I’d like to request a reasonable accommodation." for the new checkbox (corrected comment above as well). Thank you!

[2020-09-11 11:56] lisac-usds commented on #524
update: tracked down most of these, am still working out the logic for the reasonable request accommodation. Hoping to have an update 9/15.

[2020-09-15 10:54] lisac-usds commented on #524
update: 😠
still struggling with the reasonable accommodation - running into an issue when rendering the form as an iframe. details in the cross-referenced PR. Will continue investigating later this week.

[2020-09-17 20:53] LauraUSDS opened #559 "Address Dependabot alert: Upgrade yargs-parser"
Fix the security issue explained here: https://github.com/usds/website/network/alert/package-lock.json/yargs-parser/open

[2020-09-18 03:59] drew-usds commented on #559
I was able to check that _some_ of the outdated yargs/yargs-parser packages are updated, however Gulp and Gulp-CLI (both things that we use) are dependent on an outdated version of this.

The response from the folks that maintain Gulp is mostly, ["this isn't that severe, we're going to fix this in a later version"](https://github.com/gulpjs/gulp-cli/issues/207#issuecomment-622478041).

[2020-09-18 04:19] drew-usds commented on #559
Out of curiosity I tried nuking my node_modules and package-lock and started with a fresh npm install on my localhost. It cleared up the alert for me locally, however GH [rejected the PR with the updated package-lock](https://github.com/usds/website/commit/25d6124703e2a54ea0a60da6e461bd4ecdf8088b).

[2020-09-24 20:54] drew-usds commented on #559
I'm going to dismiss the alert for now to see if it'll fix current PRs that are breaking. We'll want to check back in on gulp/gulp-cli/yargs-parser later.

Here's GH's remediation recs for posterity:

[code]

[2020-09-28 17:47] cygov opened #574 "Press - ELIS Project Page"
Our work on [ELIS](https://github.com/usds/website/blob/staging-proj-updates/_projects/1800_n-400.md) doesn't appear in our 2020 impact report and there doesn't appear to be anyone staffing on priorities.md.

Maybe we remove and replace with the more recent [H2A visa effort](https://qz.com/1586797/trump-administration-streamlining-visas-for-mexican-farm-workers/)?

[2020-09-28 17:49] #574 closed, assigned to LauraUSDS

[2020-10-09 19:56] LauraUSDS opened #579 "Fix text display on 404 page"
Text displaying on our 404 page is mis-aligned. Likely just needs some formatting TLC?

For example: https://www.usds.gov/assets/files/USDS_1Sheet_DI_Feb2019.pdf
![image (1)](https://user-images.githubusercontent.com/41635635/95626363-1e777380-0a48-11eb-9e4a-18508cc96a4b.png)

See [thread on Slack](https://usds.slack.com/archives/CD57K0SUE/p1602268802090300) for reference

[2020-10-09 23:25] drew-usds commented on #579
The markup was using `flex` properties that weren't getting interpreted as they should have. I swapped the classes to use uswds grid columns instead.

[2020-10-15 16:47] #579 closed, assigned to lisac-usds, LauraUSDS, drew-usds

[2020-10-15 16:55] LauraUSDS opened #582 "Comply with DHS Directive 20-01"
Comply with [DHS Directive 20-01](https://cyber.dhs.gov/bod/20-01/)

_See convo on Slack ([part 1](https://usds.slack.com/archives/CD486C8EL/p1602269427091100) and [part 2](https://usds.slack.com/archives/CD486C8EL/p1602269579092700)) for more info_

**Required actions**

Within 30 calendar days (Friday, October 2, 2020), update the following at the .gov registrar:
- [x] Add a security contact for

[2020-10-21 19:21] boris-ning-usds commented on #582
A template of what DHS CISA may want can be found here - https://cyber.dhs.gov/bod/20-01/vdp-template/.

[2020-10-22 22:04] LisaHwang opened #583 "Update FAQ response"
Please update response under FAQ.

When will I hear from USDS in this process?
A: A member of our talent team will reach out to you within two weeks with next steps.

- Change due to incorrect response, salesforce no longer send an email confirmation.

[2020-10-23 21:24] #583 closed, assigned to LauraUSDS

[2020-10-23 21:37] LisaHwang commented on #583
@drew-usds Thank you!

[2020-10-28 19:54] LauraUSDS commented on #559
@drew-usds Now that it's been a month, can you check to see if we can close this out by any chance? (yargs-parser for Gulp)

[2020-10-29 16:29] drew-usds commented on #559
@LauraUSDS Ah sorry, I'm realizing my updates on 9/17 and 9/24 weren't super clear ... the folks that maintain Gulp, the thing we use that's dependent on this old version of yargs-parser,  aren't updating anything with this until their _next_ version. We can't really do anything with this until then.

We've already suppressed the GitHub alert to fix some previous problems with breaking site builds

[2020-10-30 17:43] LauraUSDS commented on #559
@drew-usds Ah, ok. I didn't know how often Gulp updates so I'd set a reminder for a month later (ambitious? likely). I'll keep it on my list, but without a reminder date ;)

[2020-11-02 18:37] JPGiordano opened #586 "Adding portfolio prompt to additional choices for "Primary field of expertise""
Hi!

Currently, when an applicant selects one of the following choices for "What is your primary field of expertise?" ( Content Design/UX Writing, User Experience, and Visual Design) they are given this prompt, instructing/requesting that they upload a portfolio or work samples via link or file.

![image](https://user-images.githubusercontent.com/50152175/97905624-4c329e00-1d10-11eb-8abe-637fec40e

[2020-11-02 19:03] LauraUSDS commented on #586
Hey @JPGiordano - I don't have the right access and/or knowledge to changes this, so tagging in the two Lisas! @lisac-usds @LisaHwang

[2020-11-06 19:36] LisaHwang commented on #586
I'm going to close the issue here and open it up under my salesforce repo!

[2020-11-06 19:36] #586 closed, assigned to lisac-usds, LisaHwang, LauraUSDS

[2020-11-06 19:47] LauraUSDS commented on #586
Thanks @LisaHwang! If you want, next time just lmk and I can transfer it to that repo :)

[2020-12-04 19:14] LauraUSDS commented on #524
Since the additional checkbox is still being grumpy, let's do a stopgap solution and just add instructional language. My two recommended options:

1. Add to the 'anything else we should know' description. Suggested language to use that's similar to what we wanted for the checkbox: "Please let us know if you would like to request a reasonable accommodation." This may not be a great solution because

[2020-12-11 15:48] mriverasl3 commented on #524
@LauraUSDS - I'd go with option 2

[2020-12-14 06:23] lisac-usds commented on #524
we got the checkbox working!
this was a configuration issue. details in the cross-referenced PR.

[2020-12-14 17:42] LauraUSDS commented on #524
OMG YAY! Huge kudos to y'all, @lisac-usds and @LisaHwang !  Thanks for giving me an early xmas/hannukah present ;)

[2020-12-14 17:42] #524 closed, assigned to drew-usds

[2021-02-25 01:08] lisac-usds commented on #582
we've published the policy! https://www.usds.gov/vulnerability-disclosure-policy

[2021-03-17 13:28] bernars-usa commented on #444
Text reduced in #613. 🙌

[2021-03-17 13:28] #444 closed, assigned to ButtersUSDS

[2021-03-23 00:48] drew-usds opened #620 "Add DAP js"
TIL: when you use an analytics code _from_ [DAP](https://digital.gov/guides/dap/) it doesn't actually mean you are participating _in_ DAP. You _also_ have to [add _more_ DAP](https://digital.gov/guides/dap/add-your-site-dap/) to be fully ... DAPped? Also TIL: Looks like DAP was once on the site but [got accidentally removed at some point](https://github.com/usds/website/pull/317). Let's add it bac

[2021-03-23 01:25] drew-usds commented on #620
@lisac-usds I just added you to a [draft PR for this issue](https://github.com/usds/website/pull/621).

An outstanding question you can help with is around setting the right environment variable when building the site. Github pages should _theoretically_ build it with the `production` environment by default, but it'd be nice to make sure that it _definitely, always does_.

Is that something we can

[2021-03-24 13:43] lisac-usds commented on #620
still looking into this! I'm on the same page, but haven't been able to track down the code or Github pages documentation stating the `JEKYLL_ENV ` is set to `production`.  Planning to have that, or a code snippet that allows us to enforce it, by the end of the week.

One thing I'll need to double-check: that the cloud.gov deployment (meant for pre-prod testing, but not our primary means; see [man

[2021-03-24 15:49] drew-usds commented on #620
If you don't specify an environment when running/building the site locally [Jekyll will default to](https://jekyllrb.com/docs/configuration/environments/) `JEKYLL_ENV=development`, which will exclude anything specified to show up in `production`. It "works" if you're then pushing that up to staging/specifying `staging` and then pushing, but yeah also agree making sure it is _always_ getting `stagi

[2021-04-03 00:29] lisac-usds commented on #620
argh. I'm not able to track down the code that would show that the GitHub Pages deployment applies the `JEKYLL_ENV=production`.
But it's mentioned by others, and I don't have reason to doubt that the GitHub Pages deployment is doing this.

secondary sources:
https://desiredpersona.com/google-analytics-jekyll/ :

https://stackoverflow.com/a/34607628:

If we wanted to have more visibility and contro

[2021-04-27 13:26] melissajschaff opened #623 "USDS Mission"
Content question about https://github.com/usds/website/blob/a6f123c4c165ccefc186176cb5c5f0a2109ca2d9/_content/our_mission.yml#L4

I've always heard our mission as:

not what is on L4.

In addition to citing 2 different missions on this page being confusing, saying "American People" excludes the great work done by DHS to serve citizens and non-citizens alike, such as asylum seekers in-county and re

[2021-05-03 06:16] #620 closed, assigned to lisac-usds, drew-usds

[2021-05-03 06:28] drew-usds opened #626 "Remove "high volume" alert from /apply"
From Michael in Slack: https://usds.slack.com/archives/CDGMC1NKF/p1619808346027500

[2021-05-20 01:29] #626 closed, assigned to nobody

[2021-07-19 16:03] drew-usds commented on #548
Closing, this was specific to only my OMB machine at the time. Haven't been able to replicate it since.

[2021-07-19 16:03] #548 closed, assigned to drew-usds

[2021-07-19 16:10] drew-usds opened #631 "Update USWDS to 2.12, rework use of gulp slightly, update gems"
We've piled up a couple security alerts, updating to the current version of USWDS should resolve most of them.

In order to do that though, we'll need to re-work how we're using Gulp/uswds-gulp as the setup has changed a bit for 2.12.

- [x] Update gems
- [x] Bump USWDS to 2.12 in `package.json`
- [x] Update [uswds-gulp](https://github.com/uswds/uswds-gulp) gulpfile
- [x] Reorganize stylesheets to

[2021-07-22 03:33] #631 closed, assigned to drew-usds

[2021-07-22 03:55] drew-usds opened #633 "Instagram footer img hack no longer working"
After putting our our last PR and doing a final QA on the live site, noticed that the hacky way we were pulling our Instagram images into the footer area no longer works.

<img width="935" alt="Screen Shot 2021-07-21 at 11 53 56 PM" src="https://user-images.githubusercontent.com/57154955/126588117-0c638528-3d02-46d1-b5f3-8364227cfe12.png">

@LauraUSDS Since it was kind of hacky to begin with ... s

[2021-07-22 18:50] LauraUSDS commented on #633
@KamariGuthrie Do you have an opinion on the choices @drew-usds gave us above? My inclination is to keep the website footer clean (no Instagram images) for now, until we have a comms team member doing social media full-time that would have the bandwidth to do the upload-to-GH workflow Drew mentioned. Pics are nice, but a manageable team bandwidth is nicer :)

Third option would be to add a set of

[2021-07-22 19:59] KamariGuthrie commented on #633
@LauraUSDS Agree completely. My preference is to not drive folks there until we can finalize strategy with a new hire on staff.

[2021-07-22 20:53] LauraUSDS commented on #633
ALright @drew-usds sounds like we can let this sit for now. Really appreciate the flag!!

[2021-07-28 00:41] lisac-usds opened #636 "unable to submit an application"
# Bug Report
- [x] I’ve searched for any related issues and avoided creating a duplicate issue.

## What happened

I filled out the required values on the `/apply` form and clicked Submit. Nothing seems to happen.

Maybe related, reviewing the dev console, I'm seeing this warning:

## What I expected to happen
I expected for the page to change.

## Reproducing
- Device: Macbook
- Browser: Chrome V

[2021-07-30 14:32] lisac-usds commented on #636
update: I'm not able to replicate the bug today. That is: when I clicked Submit, I was taken to a "Thanks for applying." page, and I was able to confirm that my application information had landed in the appropriate backend system.

Possibly related: https://trailblazer.salesforce.com/issues_view?id=a1p4V000002BRMXQA4

[2021-08-02 09:37] #636 closed, assigned to lisac-usds

[2022-01-19 18:01] LauraUSDS commented on #623
These are persistent issues that we've known about for awhile. Closing this issue, as we are addressing these Qs in our current brand review work.

[2022-01-19 18:01] #623 closed, assigned to bernars-usa, LauraUSDS, drew-usds

[2022-04-06 20:54] LauraUSDS commented on #506
completed in https://github.com/usds/usds/issues/5634

[2022-04-06 20:54] #506 closed, assigned to nobody

[2022-04-06 20:57] #490 closed, assigned to LauraUSDS

[2022-04-06 20:58] LauraUSDS commented on #450
Closing as we do not currently use the structured agency team model

[2022-04-06 20:58] #450 closed, assigned to nobody

[2022-04-06 21:00] LauraUSDS commented on #582
Dare I ask...are we fully done with this? @lisac-usds I'm guessing you're the best person to ask...

[2022-04-07 13:13] lisac-usds commented on #582
yikes - I forgot about this. Thank you, @LauraUSDS .
There's some follow-ups needed. On my mind: figuring out how the vulnerability disclosure policy would apply to  [playbook.cio.gov](https://playbook.cio.gov/) and [techfarhub.cio.gov](https://techfarhub.cio.gov/). I'll investigate.

[2022-04-08 17:19] LauraUSDS commented on #582
Oh good, glad I brought it back up again then. 😅  Let us know what you find (or if you need help), @lisac-usds. Do we need to think about the sprint discovery guide site or the smeqa site too?

[2022-04-08 17:33] #483 closed, assigned to nobody

[2022-06-14 21:05] lisac-usds commented on #582
for the sprint discovery guide and smeqa, I think we're covered. from the CISA directive:

My takeaway: we satisfy this by having https://www.usds.gov/vulnerability-disclosure-policy ; we do not need a `/vulnerability-disclosure-policy` path on subdomains.

[2022-06-14 21:06] #582 closed, assigned to lisac-usds, LauraUSDS

[2022-10-19 20:01] #298 closed, assigned to nobody